[2021-09-04 16:00] TelepathicGrunt commented on #138
The processor only runs and adds the world to the cache if the grassy igloo generates. New version of RS is now released so updating should fix it

[2021-09-04 16:00] #138 closed, assigned to TelepathicGrunt

[2021-09-04 16:39] MrEcko19 opened #139 "Disable Villages Spawning"
Hi,

Maybe I'm wrong but I thought that you cant disable villages from spawning with this mod.
Changing all values to 1001 in villages config should be no generation isn't it? If I'm correct then something is wrong because I can still find vanilla villages while no other mod is generating them

[2021-09-04 17:39] TelepathicGrunt commented on #138
To be clear after some digging, the processor was storing the worldgenregion which while it is a world, it's not the single world itself. It's a temporary restricted world used for worldgen which meant as you explored and generated more grassy igloos, that cache kept growing. The WeakHashmap was indeed the solution so it throws out the WorldGenRegion when it is finished with worldgen
![image](http

[2021-09-04 17:44] TelepathicGrunt commented on #139
Vanilla villages? This mod does not touch vanilla villages at all. The config is only for disabling repurposed structures villages. To disable vanilla villages, there may be another mod that does that or you can try using a datapack like this one. This replaces the vanilla villages with a mineshaft that has the probability of spawning set to 0. Just make sure you do not use /locate command or anyt

[2021-09-04 17:44] #139 closed, assigned to nobody

[2021-09-06 14:51] TelepathicGrunt opened #140 "End Outposts causes Wilds mod to deadlock/hang the game forever."
For anyone wondering what the issue is, Wilds (https://www.curseforge.com/minecraft/mc-mods/wilds) is using some autogenerated mcreator code that runs for every phantom spawned. Except it fired for phantoms generated from structure creation, ran a `world.getEntitiesOfClass` check, and deadlocked because the world is a ServerWorld passed into the mcreator event instead of WorldGenRegion and so, it

[2021-09-06 15:40] TelepathicGrunt commented on #140
wilds fixed it in v2.5.1

[2021-09-06 15:40] #140 closed, assigned to TelepathicGrunt

[2021-09-17 15:01] TelepathicGrunt opened #142 "Bountiful does not add to RS villages."
~~blays waystones now adds to RS villages again~~

[2021-09-21 12:23] TelepathicGrunt commented on #142
![image](https://user-images.githubusercontent.com/40846040/134169729-d5ade5b9-4deb-488f-b385-aee81b26427b.png)

[2021-09-24 16:10] TelepathicGrunt opened #143 "Flower Forest Pyramid may have stacked flowers"
![image](https://user-images.githubusercontent.com/40846040/134707010-d0712c43-3f3d-43d5-9970-d8817733c179.png)

[2021-09-29 14:02] Krampus69 opened #144 "Crash with TreeChop 0.14.1 (update it to 0.14.5 to fix crash)"
Hello :wave:
Had a weird crash while ingame lately.

Here is my debug & my latest.log :
[logs.zip](https://github.com/TelepathicGrunt/RepurposedStructures/files/7252509/logs.zip)

I was in a cold biome temple when I made the traps inside explode, then it crashed.
The logs said it was because of a mineshaft piece that couldn't be found in some pool. I'm not sure how this works.

Also, I have BOP/By

[2021-09-29 14:28] TelepathicGrunt commented on #144
Can you send me your mod list? (if possible, you can export your modpack from curseforge launcher so I can download all the mods instantly. Else, zipping up all the mods and sharing that with me will greatly help but I can still work with a modlist)

It seems something in the modpack is killing many pool files in my mod which in turn, crashes some mineshafts or stuff. Also, share your config files

[2021-09-29 17:04] Krampus69 commented on #144
Here you go :
https://we.tl/t-ggNFfcecEF

[2021-09-30 23:55] TelepathicGrunt commented on #144
Sorry about the delay. I got carried away by other stuff but after testing and looking closer at logs, I believe the issue is you are using an older version of TreeChop (0.14.1). It is classloading TagCollectionManager too early which breaks other mods who try to bind their tags in code afterwards.
https://paste.ee/p/ISNEr

One of these mods trying to bind a tag is End Remastered which uses their

[2021-09-30 23:57] TelepathicGrunt commented on #144
Ah yeah, it was fixed in 0.14.3 treeChop as shown in this issue report. https://github.com/hammertater/treechop/issues/72

I'll close this report now since updating TreeChop will fix the issue you have definitely. If you get a new crash or issue with Repurposed Structures, you can open a new issue report as it will be caused by something else.

[2021-09-30 23:57] #144 closed, assigned to TelepathicGrunt

[2021-10-04 00:15] TelepathicGrunt commented on #126
Closing this issue report now as it turns out that pm095 archived their datapack repo and stopped working on the datapacks. So I downloaded their datapacks and now host them on my repo here: https://github.com/TelepathicGrunt/RepurposedStructures/releases

The Environmental changes pm095 did in one datapack is now merged into my Repurposed_Structures-Environmental datapack. The other two datapacks

[2021-10-04 00:15] #126 closed, assigned to TelepathicGrunt

[2021-10-05 20:37] TelepathicGrunt commented on #143
fixed in v3.2.6

[2021-10-05 20:37] #143 closed, assigned to TelepathicGrunt

[2021-10-06 01:06] TelepathicGrunt commented on #102
gonna close this as it seems lycanite has a system to let players add extra spawner json files.
https://gitlab.com/Lycanite/LycanitesMobs/-/blob/master/src/main/resources/data/lycanitesmobs/spawners/village.json

 I am not sure how it works but there may be a way to datapack in more json files with each one's "structureId" pointing to an RS village:

repurposed_structures:village_oak
repurposed_st

[2021-10-06 01:06] #102 closed

[2021-10-07 20:25] red2blue opened #145 "Cannot add custom mob entities in the entity config"
1.17.1 / 3.6 RS / Fabric

[20:24:41] [main/WARN]: Repurposed Structures (second): Unknown EntityType bewitchment:ghost was found in the replace mob spawning config. Skipping that entry...
[20:24:41] [main/WARN]: Repurposed Structures (second): Unknown EntityType bewitchment:ghost was found in the replace mob spawning config. Skipping that entry...
[20:24:41] [main/WARN]: Repurposed Structures (sec

[2021-10-07 20:26] red2blue opened #146 "Exception: ticking world"
---- Minecraft Crash Report ----

----------------
C2ME Compatibility Module Notice:
Do NOT report to mod authors if you encountered issues with the following mods:
- betternether@5.1.3
- charm@3.3.2
- betterend@0.11.0-pre
You can try disabling compatibility modules for these mods in "c2me-compat.toml" and try reproduce again.
Or try reproduce without C2ME.
----------------

// Ouch. That hurt :(

[2021-10-15 23:36] SHXRKIEgg opened #147 "Survive causes crash with Origins. (not RS issue)"
Everytime without fail the game freezes at creating the world after 2nd attempt and creates a crash log.
The reason I say second attempt is cause everytime I reinstall the Better MC or Medieval MC Modpack and update the mods, it works the first time and after that it always freezes. Not sure if this has to do with RS since its the only thing that shows in the log but I know its Caves and Cliffs as

[2021-10-16 01:25] TelepathicGrunt commented on #147
![image](https://user-images.githubusercontent.com/40846040/137568045-a9cec4c4-7c0e-448d-8437-5672cc7d15a6.png)
You're modpacks are using [old outdated versions of the datapacks](https://github.com/TelepathicGrunt/RepurposedStructures/issues/126) that are known to cause issues. (the ones made by pm097) I would say to delete the `RRS_EnvironmentallyFriendly.zip`, `RRS-BuzzierVillages.zip`, `RRS-Rep

[2021-10-16 03:09] SHXRKIEgg commented on #147
I have already replaced them with the new ones as im working on a new update and the issue still persists. Here is a screenshots of the datapacks. These are also fresh downloads just incase.
![image](https://user-images.githubusercontent.com/79353591/137571500-6d0027fa-0fc9-4b7c-81e3-79764af9392c.png)
Here is another Crash Report.
https://pastebin.com/shWmX5aV

[2021-10-16 03:17] TelepathicGrunt commented on #147
Please send me the latest.log file from the logs folder. Not the crash report. The crash report omits a ton of important info that could help pin down the issue

[2021-10-16 03:22] SHXRKIEgg commented on #147
File oto big for pastebin
Download: [latest.log](https://github.com/TelepathicGrunt/RepurposedStructures/files/7356660/latest.log)

[14:20:26] [Server thread/ERROR]:
 Repurposed Structures: Crash is about to occur because an entry in a datapack does not exist in a registry or failed to resolve an entry.
 Entry failed to be resolved: ResourceKey[minecraft:root / minecraft:worldgen/configured_featur

[2021-10-16 08:00] SHXRKIEgg commented on #147
So the problem lies with the Repurposed_Structures-Ice_and_Fire Datapack. I tested all the datapacks and that one is causing the crash/freeze

[2021-10-16 12:38] TelepathicGrunt commented on #147
Interesting. Yeah remove that datapack for now. I'll look into this and see what exactly is the issue and why. What is weird is "repurposed_structures:cobblestone_patch" should exist in the registry as I created and registered it.

[2021-10-17 15:19] TelepathicGrunt commented on #147
Wait a second, i'm looking through the mod list for Better Minecraft modpack and I dont see ice and fire. Did you kept on the ice and fire datapack while also removing ice and fire? Because that will break the game lol

[2021-10-17 16:00] SHXRKIEgg commented on #147
I should have it installed but I tested to make sure and its their and ran it again to make sure and still the same issue

[2021-10-18 00:06] TelepathicGrunt commented on #147
Sorry for delay. Had family stuff to deal with. Anyway, I downloaded Better Minecraft with GDLauncher, selected all mods, updated them all, added Ice and Fire mod and the Repurposed Structures Ice and Fire compat datapack, create a world, and was able to find the buildings spawning in villages. No crashes or issue making worlds.
![image](https://user-images.githubusercontent.com/40846040/137649616

[2021-10-18 06:15] SHXRKIEgg commented on #147
Its the Medieval Minecraft Modpack I was testing not the main Better MC FORGE one that doesnt have ice and fire. Install the latest version of Medieval Minecraft and add the datapack

[2021-10-18 19:47] TelepathicGrunt commented on #147
Thank you for clarifying. I was able to reproduce the issue with that modpack and updating it. After spending a few hours frustratingly trying mods, I looked closer at my latest.log file and it actually says the issue. Nothing about RS. This is what I see: https://paste.ee/p/YrvR8

The issue is the Survive mod has a survive:generic.heat_resistance file for Origins in it. However, this file is brok

[2021-10-18 19:47] #147 closed, assigned to TelepathicGrunt

[2021-10-19 00:37] StrangerSon71 commented on #113
Suggestion: Tidbits & Rats village support.

[2021-10-19 03:01] TelepathicGrunt commented on #113
@StrangerSon71 Last I checked, Rats didn’t add pieces to villages. I couldn’t find any nbt file or references to injecting pieces into villages in the codebase. But I’ll look again.

[2021-10-19 13:48] StrangerSon71 commented on #113
I was sure the garbage piles still spawned in 1.16, I could be wrong though. Sorry for likely wasting your time.

[2021-10-20 08:06] SSKirillSS opened #148 "Crash on server startup"
Mod version and other details inside this log file: https://pastebin.com/KygV9xQJ

Issue is pretty simple - mod doesn't load on the server.

[2021-10-20 16:40] TelepathicGrunt commented on #148
This does not appear to be caused by repurposed structures. see this line?
[code]

It appears to be an issue with illagers+. Try reporting the issue to them so they can try and fix it. I wonder what happened that caused that issue with them. I think they are calling some client side code somehow and that is making the mod die on servers because servers do not have client side code

[code]

[2021-10-20 16:40] #148 closed, assigned to TelepathicGrunt

[2021-10-20 16:53] SSKirillSS commented on #148
Oh... I just missclicked to the wrong mod github and didn't double-checked it. Sorry :D

[2021-10-20 18:14] SzymZEROn opened #149 "Server crash when i'm entering to the end"
If any person enters The End then the server crashes.

Console logs: https://bin.birdflop.com/uriyokaror.swift

Crash report: https://bin.birdflop.com/exurilekiw.p

https://user-images.githubusercontent.com/92884664/138148487-e8f65d3b-fe51-4d26-898e-171938b0b23d.mp4

[2021-10-20 18:23] TelepathicGrunt commented on #149
Just looked at the log and it looked extremely familiar. And then i realized, you're using 3.1.0 RS which is outdated. This serverside crash was fixed in v3.1.3. But you should update straight to v3.3.1 so you get all the updates and some new structures too.

Sorry about that. I should've realized this when you mentioned v3.1.0 back on curseforge. But yeah, update and the crash should go away. :)

[2021-10-20 18:23] #149 closed, assigned to TelepathicGrunt

[2021-10-21 03:25] brisingraerowing opened #150 "Canal v2.2 and older crashes Repurposed Structures. (Update to 2.3 or higher)"
[code]

Not sure what this means.

[2021-10-21 03:26] TelepathicGrunt commented on #150
What version of RS are you using? Can you post the full latest.log file after you get the crash with Blame mod also on? That will greatly help me narrow down the cause of the issue

Blame mod: https://www.curseforge.com/minecraft/mc-mods/blame

[2021-10-21 03:30] brisingraerowing commented on #150
I'll get the blame log in a moment, though there's a ton of errors like the following in the log:

[code]

[2021-10-21 03:35] TelepathicGrunt commented on #150
Yeah what I believe is happening is a mod might be unsafely injecting a new property into Oak Planks, Water, or Grass Block which causes the processor json file to blow up. Minecraft’s worldgen system is a bit fragile where it requires every single property of a block to be specified in that processor json file. So when a mod adds properties the wrong way, it blows up my mod and other worldgen dat

[2021-10-21 03:37] brisingraerowing commented on #150
[Log with blame](https://gist.github.com/BrisingrAerowing/8548ef540b633ccdf7144911fd1692fe)

[2021-10-21 03:39] brisingraerowing commented on #150
This pack is similar to another one I've built , so I'm going through mods in this one that aren't in that still working pack.

[2021-10-21 03:41] brisingraerowing commented on #150
I think I know which mod is broken: Canals, as it just released an update to fix generation of flowing water crashing.

[2021-10-21 03:46] TelepathicGrunt commented on #150
yeah. This is their changelog:
`Fix a bug when generating a world, if you have some mod/datapack installed that tries to generate flowing water blocks. Add Statement dependency.`

That's exactly the issue you are facing. Them switching to using the Statement Library would fix it and prevent minecraft from blowing up when it reads the water block in processor files. Update Canals and let me know if

[2021-10-21 03:48] brisingraerowing commented on #150
It does!

[2021-10-21 03:48] #150 closed, assigned to TelepathicGrunt

[2021-10-22 15:04] TelepathicGrunt commented on #113
@StrangerSon71 nah it's fine. No time is really wasted. I looked again and even tested the mod. The villages are indeed unchanged and the config files entries for village pieces are actually not even hooked up to anything. The Pet Shop villager profession is also commented out and unregistered. Maybe an older version of Rats had it? Or is there an add-on mod that re-enables them?  I just want to r

[2021-10-22 21:21] TelepathicGrunt commented on #113
Tidbits compat datapack is now made: https://github.com/TelepathicGrunt/RepurposedStructures/releases/tag/0.0.12

[2021-10-27 15:56] brisingraerowing commented on #113
Rats had village structures in 1.12.2, but they were disabled in 1.14, and never reimplemented.

[2021-10-27 16:22] StrangerSon71 commented on #113
@BrisingrAerowing I'm aware, I thought the Garbage Piles stuck around, I knew the Pet Shop was gone. I was wrong about the Garbage Piles.

[2021-10-30 00:14] StrangerSon71 commented on #113
Another (Low priority because it's not completely necessary) suggestion: Enhanced Mushrooms support for mushroom villages.

[2021-10-31 09:05] Sixdd6 opened #152 "Hang on creating new world"
I'm not really sure if this is a problem with RS or not but I noticed something in the logs that referenced RS and figured I'd post it here. The problem I'm hitting is that when creating a new world the game hangs for over 20 minutes and then fails to generate the world.

[debug.log](https://github.com/TelepathicGrunt/RepurposedStructures/files/7448409/debug.log)
[latest.log](https://github.com/Te

[2021-10-31 12:58] TelepathicGrunt opened #153 "More Villagers datapack crashes mushroom villages (datapack is now updated to fix this)"
If you were crashing with this error:
`java.lang.RuntimeException: com.mojang.brigadier.exceptions.CommandSyntaxException: Unknown block type 'minectaft:mushroom_stem' at position 0: <--[HERE]`
Turns out the typo was in the more villagers datapack. You can download the v2 fixed datapack from here:
https://github.com/TelepathicGrunt/RepurposedStructures/releases/tag/0.0.8

[2021-10-31 12:58] #153 closed, assigned to TelepathicGrunt

[2021-10-31 13:11] TelepathicGrunt commented on #152
So this is tricky to figure out. But you see how my mod is trying to spawn a skeleton right?
`at com.telepathicgrunt.repurposedstructures.world.features.Skeletons.place`

The skeleton spawning normally works perfectly fine but for some reason, it is freezing up for you. Now looking above that, I noticed this line:
`at net.minecraft.entity.MobEntity.handler$bnh001$setEquipmentBasedOnDifficulty(MobE

[2021-10-31 13:13] Sixdd6 commented on #152
Nothing jumps at me immediately but I'll go over my modlist and see what I can find. Thanks for taking a look at this.

[2021-10-31 13:16] TelepathicGrunt commented on #152
Could you try one test? Try removing environmental and see if the deadlock goes away. if so, try updating environmental just to make sure it isnt outdated. They do have a mixin into that spot for pouch spawning but I thought it was safe last time I checked but I can take another look at that mod

Edit: I tested with Environmental 1.1.0 and teleported to an RS Underground bastion but no freeze. hmm

[2021-10-31 13:59] Sixdd6 commented on #152
I went through every config file I have and didn't see anything about mob equipment or difficulty.

[2021-10-31 14:02] TelepathicGrunt commented on #152
the mixin may not necessarily about mob equipment or difficulty. This could just be a spot for a mod to do something else in their body of the mixin. I looked around and could not find any additional mod that mixined that spot and called tructureManager.getStructureStart. It could be Environmental for some weird reason. Did removing Environmental not solve the issue?

One thing we could try and do

[2021-10-31 14:10] Sixdd6 commented on #152
Just tried removing Environmental and still got the issue. I'll get the output source next.

[debug.log](https://github.com/TelepathicGrunt/RepurposedStructures/files/7448985/debug.log)
[latest.log](https://github.com/TelepathicGrunt/RepurposedStructures/files/7448986/latest.log)

[2021-10-31 14:27] Sixdd6 commented on #152
I generated the mixinout folder but I'm sort of confused what to do with the files inside.
[mixin.out.zip](https://github.com/TelepathicGrunt/RepurposedStructures/files/7449022/mixin.out.zip)

[2021-10-31 14:33] TelepathicGrunt commented on #152
You would need an IDE like intellij to decompile the files to read the code. Which is something most users cannot do. But I can do that. And after I did so, the only mixin of that name and the method that is hanging is Environmental.
![image](https://user-images.githubusercontent.com/40846040/139588398-5858f5ce-6a79-47f5-a04a-dd95ea9abc3d.png)

I dont know why this mixin for environmental is hangi

[2021-10-31 14:34] Sixdd6 commented on #152
Whats stranger is that worldgen still had the same hang after I removed Environmental too. Or it looked the same to me anyway.

[2021-10-31 14:37] TelepathicGrunt commented on #152
from what i saw, terraforged was having issues parsing stuff after removing environmental. If you have any datapack that relies on environmental, remove those datapacks. Then try again without environmental but leave it hanging until terraforged shuts down the game like it did in the first log. Maybe it'll have more info when environmental is off and terraforged is allowed to print after it termin

[2021-10-31 14:55] Sixdd6 commented on #152
Ok, I ended up killing the process cause it was just sitting at 0%. If I need to let it sit longer I can but I didn't see any activity in the log and figured it was done.

[debug.log](https://github.com/TelepathicGrunt/RepurposedStructures/files/7449061/debug.log)
[latest.log](https://github.com/TelepathicGrunt/RepurposedStructures/files/7449062/latest.log)

[2021-10-31 15:56] TelepathicGrunt commented on #152
can you send me your modpack? if possible of course. (not list but like the modpack profile with all the mods so I can autodownload them all)

What I can try and do is use VisualVM to see what code the game is stuck on this time. Basically this video: https://streamable.com/n4hw6w

[2021-10-31 15:57] Sixdd6 commented on #152
Yeah no problem, I'll get you an export.
[Over-modded Minecraft-test1.zip](https://github.com/TelepathicGrunt/RepurposedStructures/files/7449201/Over-modded.Minecraft-test1.zip)

[2021-11-01 14:24] TelepathicGrunt commented on #152
Holy smokes. That modpack is very unoptimized and took like 15 minutes to begin to create a world. 5 minutes just for KubeJS to parse all recipes. Then eventually, I crashed due to out of memory even though I gave it 8GB https://paste.ee/p/xYMcV

Honestly, I'm gonna close this issue report as this is definitely not an issue with my mod now. Instead, it's just the modpack is unplayable as is and wi

[2021-11-01 14:24] #152 closed, assigned to TelepathicGrunt

[2021-11-03 00:03] Sixdd6 commented on #152
Yeah it's pretty messy right now, as I've been building the pack I've had to use about 12-16 GB of ram for it to run so it's certainly got a long way to go. Thank you for the help though.

[2021-11-03 19:37] TelepathicGrunt commented on #113
I'm not going to make a datapack that redesigns the mushroom village entirely to use Enchanced Mushrooms's stuff because that's a lot of work lol. But if someone else does make such a datapack, they can contact me and I can host it here on my GitHub and link it on my mod page. I'm more focusing on getting compat datapacks with other mods that redoes vanilla structures or adds pieces to vanilla str

[2021-11-03 20:56] StrangerSon71 commented on #113
Like I said, not completely necessary. Totally understand that not being worth the work, and was pleasantly surprised about even the Better Strongholds.

[2021-11-09 06:51] Reshy opened #154 "Dirt Path Crash"
**Caused by: java.lang.RuntimeException: com.mojang.brigadier.exceptions.CommandSyntaxException: Unknown block type 'minecraft:dirt_path' at position 0: <--[HERE]**
	at net.minecraft.world.gen.feature.template.JigsawReplacementStructureProcessor.func_230386_a_(SourceFile:37) ~[?:?] {re:classloading}
	at net.minecraft.world.gen.feature.template.StructureProcessor.process(StructureProcessor.java:18)

[2021-11-09 12:11] TelepathicGrunt commented on #154
@Reshy are you using the more villager datapack? If so, you may be using an older version that was crashing. https://github.com/TelepathicGrunt/RepurposedStructures/issues/153

Delete that datapack and redownload v2 of the datapack from here and let me know if that resolves the issue: https://github.com/TelepathicGrunt/RepurposedStructures/releases/tag/0.0.8

if so, I’ll close this bug report

[2021-11-09 12:13] TelepathicGrunt commented on #154
Actually hmm, that datapack crashed on a mushroom stem typo. Not dirt block. Can you show me all the datapacks you’re using? I’ll also run my mod’s nbt files through a script to see if the current version has mentions of the dirt path somewhere (which should be grass path but 1.17 renamed it which causes these kinds of mistakes by me)

If you can reproduce the crash easily, can you put on this mod

[2021-11-09 12:48] TelepathicGrunt commented on #154
And now I ran the script on all my datapacks and could't find dirt path anywhere. Yeah i think you are using an outdated datapack or the issue is with another mod's structure. Delete and redownload all the datapacks you use from my github to rule out any outdated repurposed structures datapack: https://github.com/TelepathicGrunt/RepurposedStructures/releases

If the issue still persist, run with B

[2021-11-11 02:48] EternalOne11 opened #155 "Group configs"
Could you add a group config for each structure type. This would make disabling entire groups far easier in the config. (such as a yes or no to all igloos for example.

[2021-11-11 02:56] TelepathicGrunt commented on #155
I leaning on not doing that because my config is already very large and that would be extra work on my end. The configs for the structures are already grouped in the same files so it’s just like 3-4 extra seconds to copy/paste the turn off values into all the dungeons and stuff. Not sure if the actual benefit for users is worth the extra effort.

It may also confuse users thinking there’s no way t

[2021-11-11 03:45] TelepathicGrunt commented on #155
After thinking about it even more just to make sure I didn’t miss anything, yeah I don’t think this is worth the effort.

It would confuse other users to start looking for true/false entries for individual structures and that would be way too much work for me to add now (and would bloat the configs to about double their size).

The other thing is after really thinking about who disables all struct

[2021-11-11 03:45] #155 closed, assigned to TelepathicGrunt

[2021-11-14 16:07] TelepathicGrunt commented on #155
Oh yeah forgot to mentioned here, as of 3.4.3 RS, the configs were significantly cleaned up so editing them should be much more of a breeze. So yeah thank you for getting me to look at the configs again lol

I don’t have internet for my laptop where I am but this is what the config looks like now. The comments were condensed into a single comment out at the top of each category so every entry is s

[2021-11-16 20:59] TelepathicGrunt commented on #154
It's been a week and no other person seemed to have reported this issue and no extra info was provided. There's nothing more I can do without additional info and being unable to reproduce the issue myself. So I'll close this issue report now but I'll re-open once I get a latest.log of the crash with Blame on.

[2021-11-16 20:59] #154 closed, assigned to TelepathicGrunt

[2021-11-20 13:21] Apiterbakar opened #156 "Crash when using an old version of Waystones. (update to latest to fix)"
[crash-2021-11-20_20.03.58-client.txt](https://github.com/TelepathicGrunt/RepurposedStructures/files/7574595/crash-2021-11-20_20.03.58-client.txt)

[2021-11-20 14:31] Reshy opened #157 "Cannot black list specific structures from The Beginning"
Here's the provided config and screenshot below, yes the file type's changed so this can be uploaded.

![2021-11-20_06 28 50](https://user-images.githubusercontent.com/2096384/142730029-484ec0ec-291f-49a4-b886-ffc4b8e5851f.png)
[biome_dimension_allow_disallow_configs - Copy.txt](https://github.com/TelepathicGrunt/RepurposedStructures/files/7574667/biome_dimension_allow_disallow_configs.-.Copy.txt)

[2021-11-20 15:03] TelepathicGrunt commented on #157
Actually it seems you typoed my modid.
  "repursosed_structures:mineshaft_jungle": "thebeginning:theabyssdimbeginning",

It should be repurposed_structures instead of repursosed_structures. Please fix this typo and let me know if the config works

[2021-11-20 15:08] TelepathicGrunt commented on #156
It’s crashing here but that shouldn’t be possible as nothing should be null. https://github.com/TelepathicGrunt/RepurposedStructures/blob/bab45d77b7664e1b88c51431913a67e47ccd4e01/src/main/java/com/telepathicgrunt/repurposedstructures/utils/BiomeSelection.java#L74

To be clear, is this crash on your computer or on a server? If on a server, are you using mohist? And can you please send me a export o

[2021-11-20 15:16] Apiterbakar commented on #156
no its not on a server

[2021-11-20 15:25] Apiterbakar commented on #156
and idk how to sned the zip file because i can't send it here

[2021-11-20 15:27] TelepathicGrunt commented on #156
You can use Dropbox or Google drive if it is too large. But I guess I’ll just bite the bullet and take the time to search and download every mod manually.

[2021-11-20 16:53] TelepathicGrunt commented on #156
I put on all the mods you had and I did not get any crash. I'm not sure what the best way to troubleshoot from here is. Though, you can try this test version of repurposed structures. It wont stop the crash but should print more info to help say what exactly is null. maybe that will help us
[repurposed_structures_forge-3.4.5b+1.16.5.zip](https://github.com/TelepathicGrunt/RepurposedStructures/file

[2021-11-21 08:22] Reshy commented on #157
I made the fix, but it still occurs.  The blocking all structures does block these from spawning, but not the jungle mineshafts specifically.
[biome_dimension_allow_disallow_configs - Copy.txt](https://github.com/TelepathicGrunt/RepurposedStructures/files/7575924/biome_dimension_allow_disallow_configs.-.Copy.txt)

[2021-11-21 16:26] TelepathicGrunt commented on #157
using your config, I see this error in the logs:

[code]

map can only have one key. Doing multiple keys breaks it (which can be a bit confusing yeah). That's why in the value section, instead of doing:
![image](https://user-images.githubusercontent.com/40846040/142770156-aed433b3-5095-4fb6-b69c-8fee7ed43a58.png)

do this instead:
![image](https://user-images.githubusercontent.com/40846040/1427701

[2021-11-22 06:18] Reshy commented on #157
Ah, so it cannot take in duplicate entries like that.  Makes more sense.

There's two dimensions, one's in the sky, and one's on the ground, both are jungle themed.  The sky one the only one that seems to fit is the Fortress as the dimension is fairly barren (and jungle temples, assuming they don't spawn on the bottom of the world).  The groundlands is much more forgiving, everything but villages

[2021-11-22 11:44] TelepathicGrunt commented on #157
Thanks! I’ll close this now

[2021-11-22 11:44] #157 closed, assigned to nobody

[2021-11-23 04:10] whyleviathan opened #158 "Repurposed Structures config"
Can I make certain structures not appear?

Example: certain types of mineshafts

[2021-11-23 04:11] TelepathicGrunt commented on #158
Yes. Check out the Config in the config/repurposedstructures-forge/ folder and be sure to read the comments above each config entry to know what they do.

[2021-11-23 04:16] whyleviathan commented on #158
thanks

[2021-11-23 04:16] #158 closed, assigned to nobody

[2021-11-23 21:36] jasontamez commented on #156
I'm getting the same crash. It happens when I click "Single Player" -> "Create New World". I used the version above to get you a better error message.

`java.lang.RuntimeException: reverse tag of MINESHAFT is null`

    The game crashed whilst mouseclicked event handler
    Error: java.lang.NullPointerException: mouseClicked event handler
    Exit Code: -1

[crash-2021-11-23_15.29.26-client.txt](h

[2021-11-23 22:42] TelepathicGrunt commented on #156
Thank you @jasontamez, So it is saying that the reverse tag system is empty when that should literally be impossible unless another mod is somehow making Forge skip the FMLCommonSetupEvent which is... extremely bad.
https://github.com/TelepathicGrunt/RepurposedStructures/blob/bab45d77b7664e1b88c51431913a67e47ccd4e01/src/main/java/com/telepathicgrunt/repurposedstructures/RepurposedStructures.java#L

[2021-11-24 03:16] jasontamez commented on #156
That did the trick. Working well now. Thanks!

[2021-11-24 05:15] #156 closed, assigned to TelepathicGrunt

[2021-11-27 16:58] TelepathicGrunt commented on #121
This incompat was fixed in dungeons gear v3.0.21 update! closing now

[2021-11-27 16:58] #121 closed, assigned to TelepathicGrunt

[2021-12-01 16:41] Krampus69 opened #159 "RS + Subterrean Wilderness compat"
Hello :wave:
Subterrean Wilderness floods some RS structures like mineshafts in particular

![2021-12-01_17 40 59](https://user-images.githubusercontent.com/81943963/144275917-8af325c6-9213-46a7-9d0f-3c3987296213.png)

![2021-12-01_17 45 44](https://user-images.githubusercontent.com/81943963/144276516-5f66f234-3bf5-4072-b982-20fd4b9a78d5.png)

Makes it pretty hard to navigate in. I don't know if t

[2021-12-01 16:50] TelepathicGrunt commented on #159
Yeah this isn’t something I can fix on my end. My structures generated first and then subterranean’s features detected the structure’s open space and filled it with a ton of stuff. You can ask them to see if they can add a setting to not place features within the bounds of structures somehow. They could try and move the features to a generation stage before underground structures as a workaround.

[2021-12-01 16:50] #159 closed, assigned to TelepathicGrunt

[2021-12-04 16:38] #137 closed, assigned to TelepathicGrunt

[2021-12-04 16:39] #97 closed

[2021-12-05 02:20] snaiperskaya commented on #142
Hi, I have the latest versions of Waystones, Bountiful, and Repurposed Structures and neither waystones nor bountiful boards are generating in villages. On my server, it's throwing this error for the waystone:

![image](https://user-images.githubusercontent.com/4693814/144730939-abeb4c46-c00b-4e35-8fe5-ad726761c411.png)

[2021-12-05 02:23] TelepathicGrunt commented on #142
@snaiperskaya Well, bountiful does not have support for 1.16 rs so it won’t appear at all. Which is the reason for this bug report.

 As for waystones, the mod compat is on their side actually so you’ll have to poke them about why the waystones aren’t spawning. Might be that the path they used for their Waystone is in a different nbt path or you have waystones in villages turned off in your config

[2021-12-05 02:30] snaiperskaya commented on #142
Thank you! I added a note to an open issue they have that matches what I'm seeing. I have the option for village generating on and even have the additional option to force generation on, so realistically I should be seeing them in nearly every village and yet I haven't found any.

Here is the thread I added the details to for reference: https://github.com/ModdingForBlockheads/Waystones/issues/472

[2021-12-08 12:39] TelepathicGrunt opened #160 "[1.18] Nether Outpost can spawn inside lava"
![image](https://user-images.githubusercontent.com/40846040/145209826-3346a103-c261-44f1-8d8d-a8e9b97ee72e.png)

[2021-12-08 22:45] TelepathicGrunt commented on #160
fixed now in 4.0.5

[2021-12-08 22:45] #160 closed, assigned to TelepathicGrunt

[2021-12-10 13:47] Mangraz opened #161 "ERROR and WARN spam in server console"
On 1.18, the server is getting spammed with errors like "[14:38:06] [Server thread/ERROR]: Unknown structure start: repurposed_structures:mansion_birch" and warns like "[14:44:53] [Server thread/WARN]: Found reference to unknown structure 'repurposed_structures:mineshaft_nether' in chunk [33, -6], discarding".  Log attached for reference
[latest.log](https://github.com/TelepathicGrunt/RepurposedSt

[2021-12-10 13:58] TelepathicGrunt commented on #161
Did you remove repurposed structures off of the server? Looks like it isn’t running if the game cannot resolve the structure starts

[2021-12-10 18:24] Mangraz commented on #161
Something like that was indeed the issue. The server did not load fabric or any mods whatsoever and I didn't even notice until much later. Sorry for that.

[2021-12-10 18:24] #161 closed, assigned to nobody

[2021-12-11 20:07] TelepathicGrunt opened #162 "make locate for RS structure be timed."
perhaps also cached? hmm

[2021-12-15 23:33] TelepathicGrunt opened #163 "Make RS outposts mob spawning be based on entire structure's bounding box instead of piece's bounding boxes"
match vanilla behavior

[2021-12-18 04:30] itsdinkd opened #164 "[WARN] 1.18.1 Forge | Latest RS | Older Java Mixin"
[code]

[2021-12-18 17:44] TelepathicGrunt opened #165 "mineshaft too high somehow"
![image](https://user-images.githubusercontent.com/40846040/146650757-ce943ddd-62a3-49b6-a6f0-53f494fe81bd.png)

[2021-12-18 17:59] TelepathicGrunt opened #166 "make config say RS mineshafts will NOT replace vanilla's"
https://github.com/TelepathicGrunt/RepurposedStructures/blob/ef0ed4980f88d05926d6ad1b7b084a5fb46e702c/src/main/java/com/telepathicgrunt/repurposedstructures/configs/RSMineshaftsConfig.java#L78

[2021-12-18 18:09] TelepathicGrunt opened #167 "make sure RS nether mineshafts can expose ancient debris"

[2021-12-19 18:41] TelepathicGrunt commented on #163
already being done actually

[2021-12-19 18:41] #163 closed, assigned to TelepathicGrunt

[2021-12-19 19:17] TelepathicGrunt commented on #167
fixed in  v4.0.8

[2021-12-19 19:17] #167 closed, assigned to TelepathicGrunt

[2021-12-19 19:17] TelepathicGrunt commented on #166
fixed in  v4.0.8

[2021-12-19 19:17] #166 closed, assigned to TelepathicGrunt

[2021-12-19 19:17] TelepathicGrunt commented on #165
fixed in  v4.0.8

[2021-12-19 19:17] #165 closed, assigned to TelepathicGrunt

[2021-12-19 19:17] TelepathicGrunt commented on #164
fixed in  v4.0.8

[2021-12-19 19:17] #164 closed, assigned to TelepathicGrunt

[2021-12-19 19:19] TelepathicGrunt commented on #162
StructureFeature.getNearestGeneratedFeature method is of interest

[2021-12-19 21:19] TelepathicGrunt commented on #162
added now in v4.0.9

[2021-12-19 21:19] #162 closed, assigned to TelepathicGrunt

[2021-12-21 23:46] TelepathicGrunt opened #168 "reduce default spawn rates of mushroom villages and mushroom pyramid and mushroom well in configs"

[2021-12-24 15:14] XxRexRaptorxX opened #169 "Crash on Tick: NoSuchElementException: minecraft:this_entity [Curios involvement]"
MC: 1.18.1
MOD: 4.0.9

Description: Exception ticking world

java.util.NoSuchElementException: minecraft:this_entity
	at net.minecraft.world.level.storage.loot.LootContext.m_165124_(LootContext.java:55) ~[client-1.18.1-20211210.034407-srg.jar%23148!:?] {re:mixin,pl:accesstransformer:B,re:classloading,pl:accesstransformer:B,pl:mixin:APP:repurposed_structures.mixins.json:resources.LootContextAccesso

[2021-12-24 15:17] TelepathicGrunt commented on #169
Hard to read on mobile but this doesn’t seem to show rs anywhere in the stacktrace. minecraft:this_entity is not used in any rs loot tables either.

`net.minecraft.world.level.storage.loot.functions.ApplyBonusCount.localvar$zci000$curios$applyFortune(ApplyBonusCount.java:522)`

This seems to show that the issue is Curios’s mixin. You should try and contact them and link this issue report so they c

[2021-12-25 18:11] Sarund9 opened #170 "Crash on Tick: NoSuchElementException: minecraft:this_entity"
Game Crashed while running around a new world, generating terrain

[Crash Report](https://pastebin.com/NRmYWtDB)

It seems this is trying to get an element with the ID "minecraft:this_entity"
When generating a LootTable

[2021-12-25 18:12] #170 closed, assigned to nobody

[2021-12-25 18:12] TelepathicGrunt commented on #170
Yeah I was gonna say it was a duplicate of https://github.com/TelepathicGrunt/RepurposedStructures/issues/169 lol

Try moving that issue report but yeah, have you contacted curios yet? Seems to be caused by them

[2021-12-25 18:16] TelepathicGrunt commented on #169
Looks like it is reported to curios https://github.com/TheIllusiveC4/Curios/issues/199

[2021-12-26 18:52] TelepathicGrunt commented on #169
Looks like the issue was fixed in v5.0.4.1 curios so if you update that mod, the issue should go away

[2021-12-26 18:52] #169 closed, assigned to TelepathicGrunt

[2021-12-26 21:48] TelepathicGrunt opened #171 "revisit and nerf end structure loot a bit"
was a suggestion. Will take one more pass at it

[2021-12-27 00:39] TelepathicGrunt opened #172 "rethink waterlogging processor"
seems it could deadlock in rare cases somehow

[2021-12-27 04:23] TelepathicGrunt commented on #172
Plan:

Processor reads nbt block. If dry and waterloggable, store blockpos into a WorldSavedData.

WorkdSavedData has a map of chunkpos to set of blockpos so blockpos are grouped by chunkpos. Is saved and read from nbt to prevent data loss. Every tick, it checks if the chunk is fully created and if so, then it reads the blockpos for the chunk, gets the block from the chunk, if it is a waterlogged

[2022-01-06 23:01] RyanCR03 opened #173 "[Bug] Wandering Trader generated maps don't have coded names"
maps generated from wandering traders with repurposed structures don't have names
![image](https://user-images.githubusercontent.com/32957560/148464533-b835f41f-5a16-4232-9696-9d1bc204c1cf.png)

[2022-01-06 23:09] TelepathicGrunt commented on #173
I dont add mushroom village maps to wandering trader maps. Only underground bastion maps to wandering trader.
https://github.com/TelepathicGrunt/RepurposedStructures/blob/latest-released/src/main/java/com/telepathicgrunt/repurposedstructures/misc/MobMapTrades.java

You got another mod or modpack that is adding the maps to wandering traders but is not making a new entry for them in the lang files l

[2022-01-06 23:32] RyanCR03 commented on #173
idk what mod would be doing this and also it only seems to happen with mushroom villages

[2022-01-07 04:50] TelepathicGrunt commented on #173
I know i seen some sort of mod that added any structure map to wandering trader's trades. If you're playing on a pre-made modpack, the modpack makers may had added to the trades themselves by using kubejs or crafttweaker

I may end up just end up adding translations for all my structures in cse another mod or datapack makes a map to them. It'll be low priority so idk when next RS update will be wi

[2022-01-09 22:25] itsdinkd opened #174 "[1.18.1 Fabric] unable to start server"
Updated to latest repurposed structures, launched a server locally to test modpack update, and it failed to start.

[code]

[2022-01-09 22:26] itsdinkd commented on #174
I am loading the Repurposed structure addons that you provided. i think that is the issuehere

[2022-01-09 22:27] itsdinkd commented on #174
this is the file that its saying already is running

[code]

[2022-01-09 22:33] TelepathicGrunt commented on #174
this looks more like a kubejs issue. Datapacks alone in the world's datapack folder should load just fine. Or using stuff like OpenLoader or Global Resource & Datapack mod should work just fine. It doesn't say what the file is being used by.

How do you setup kubejs? i have never used it before I am not sure how to try and reproduce it with kubejs.

[2022-01-09 22:38] TelepathicGrunt commented on #174
Figured out kubejs. I shoved my datapack into it and was able to enter a world just fine
![image](https://user-images.githubusercontent.com/40846040/148703980-3cfeaabe-7086-488e-b268-e6f34f58ab80.png)

Try and make sure your server doesnt have a hidden stuck minecraft process still running by mistake. That could cause this issue.

[2022-01-10 01:30] ColonelKeen opened #175 "Crashes while loading with Structure Gel API"
I'm not certain which mod is causing the conflict but i believe it is Structure Gel API (structure_gel-1.18.1-2.1.0) and Repurposed Structures (repurposed_structures_forge-4.1.0+1.18.1)
I uninstalled Structure Gel and associated mods and Repurposed Structures works correctly, I was hoping to run both Repurposed Structures and Structure Gel together.

Crash Report:

---- Minecraft Crash Report ----

[2022-01-10 01:32] TelepathicGrunt commented on #175
can you share your latest.log file instead? the stacktrace is cutoff

[2022-01-10 01:37] ColonelKeen commented on #175
This is the latest, which is currently stable, however it is after I uninstalled Structure API :
[latest.log](https://github.com/TelepathicGrunt/RepurposedStructures/files/7836399/latest.log)

[2022-01-10 01:39] ColonelKeen commented on #175
correction  "uninstalled Structure **Gel** API"

[2022-01-10 01:41] TelepathicGrunt commented on #175
I need the latest.log right after you got the issue to occur. The stacktrace was going to say something about the root cause of structure gel. I doubt it is an incompat with my mod as i seen modpacks with both mods on work just fine but to be sure, i need to see the full stacktrace after the issue occurs in the latest.log lol

[2022-01-10 01:47] ColonelKeen commented on #175
Ok recreated the crash
[latest.log](https://github.com/TelepathicGrunt/RepurposedStructures/files/7836432/latest.log)

[2022-01-10 01:51] TelepathicGrunt commented on #175
hold on. I see this

net.minecraftforge.fml.ModLoadingException: Mod §eblue_skies§r requires §6forge§r §o39.0.14 or above§r
§7Currently, §6forge§r§7 is §o39.0.10

I think this is not actually a mod conflict crash but how Forge reports dependency issues on servers. Updating forge should satisfy Blue Sky. when you removed Structure Gel, your mod launcher must had auto removed Blue Sky which caused t

[2022-01-10 01:54] ColonelKeen commented on #175
You're awesome! Thanks for looking at that, I'll update and try that, thanks so much for your time.

[2022-01-10 02:14] ColonelKeen commented on #175
Stable with Forge version 39.0.14 Blue Skies, Structure Gel, and Repurposed Structures all working together perfectly, all systems are go! Thank you again!

[2022-01-10 02:14] #175 closed, assigned to nobody

[2022-01-12 12:52] 100chilly opened #176 "[1.18.1 Forge] Crash at instance launch when using Electrodynamics and Repurposed Structures at Mixin Level in a custom modpack"
Not sure what to really say but disabling the mod does cause it to launch and work. Using Forge version: `1.18.1-39.0.14` and have tired it with newer versions of forge as well.

[code]

[2022-01-12 12:56] TelepathicGrunt commented on #176
This is a known issue and electrodynamics will have it fixed soon. Here’s the issue report about it on their page: https://github.com/aurilisdev/Electrodynamics/issues/139

I’ll close this report once their update is out so that other users know to wait a little bit more

[2022-01-12 13:02] 100chilly commented on #176
Rock on! I wasnt sure who to go report it to but nonetheless thank you for letting me know its a known issue.

[2022-01-12 13:23] 100chilly commented on #176
I'd like to also like to point out to everyone that comes looking about this, because how version 1.18.1-0.5.8-0 of Electrodynamics is you can try to sit there and troubleshoot but ultimately its play without one or the other. I quickly threw a very minimal pack together for testing to make sure it's not other mods causing issues and it still crashes before I received the  reply response.

[code]

[2022-01-12 19:48] aurilisdev commented on #176
Will be out tomorrow or so

[2022-01-13 17:53] itsdinkd commented on #174
So I think some how MoreVillagers got deleted when I tested. Would that be the reason why?

[2022-01-13 22:48] TelepathicGrunt commented on #174
Yeah it would be. Without the mod on, the mod compat datapack will explode lol

[2022-01-14 23:44] TelepathicGrunt commented on #174
gonna close this as we determined the issue was the more villager mod was off while the more villager datapack was on.

[2022-01-14 23:44] #174 closed, assigned to TelepathicGrunt

[2022-01-14 23:44] TelepathicGrunt commented on #176
new update for electrodynamics came out so will close this report now

[2022-01-14 23:44] #176 closed, assigned to TelepathicGrunt

[2022-01-14 23:45] #168 closed, assigned to TelepathicGrunt

[2022-01-14 23:45] #171 closed, assigned to TelepathicGrunt

[2022-01-14 23:46] #172 closed, assigned to TelepathicGrunt

[2022-01-15 00:19] #42 closed

[2022-01-18 00:36] TelepathicGrunt commented on #173
are you by chance using the fabric version of repurposed structures but made the report this forge version? Cause if so, I found out that the fabric version was adding mushroom village maps to wandering traders but I forgot to do that on the forge version oops.

[2022-01-18 01:27] TelepathicGrunt commented on #173
fixed in newest update for RS just released. All structures have translations in case anyone makes a custom explorer map to any of them

[2022-01-18 01:27] #173 closed, assigned to TelepathicGrunt

[2022-01-18 02:22] InfernumYT opened #177 "Cant run minecraft after update mod"
Cant run minecraft when i update that mod from 4.1.0 to 4.2.0 (i using forge 1.18.1-39.0.14, and some other mods)

[2022-01-18 02:23] TelepathicGrunt commented on #177
Do you have a latest.log file for me to see? Without log, I can’t do much

[2022-01-18 02:25] Inonedn commented on #177
[latest.log](https://github.com/TelepathicGrunt/RepurposedStructures/files/7885729/latest.log)

[2022-01-18 02:26] InfernumYT commented on #177
[CrystalLauncherGameLog.txt](https://github.com/TelepathicGrunt/RepurposedStructures/files/7885726/CrystalLauncherGameLog.txt)

[2022-01-18 02:29] InfernumYT commented on #177
[CrystalLauncherGameLog.txt](https://github.com/TelepathicGrunt/RepurposedStructures/files/7885745/CrystalLauncherGameLog.txt)

[2022-01-18 02:31] TelepathicGrunt commented on #177
This mixin is dying but I got no clue why right now as I literally did not touch it at all in this update
https://github.com/TelepathicGrunt/RepurposedStructures/blob/e4935fe0e42d00d400d0b712b13f7673c9b639d3/src/main/java/com/telepathicgrunt/repurposedstructures/mixin/structures/StructureFeatureAccessor.java#L15

fun time

[2022-01-18 02:46] InfernumYT commented on #177
[CrystalLauncherGameLog_WithoutOtherMods.txt](https://github.com/TelepathicGrunt/RepurposedStructures/files/7885829/CrystalLauncherGameLog_WithoutOtherMods.txt)
maybe it will help, thats log from new modpack(only forge and that mod)

[2022-01-18 02:49] TelepathicGrunt commented on #177
The issue is my mod wasn't building the refmap for the mixins as I did the wrong change to my build.gradle file. 4.2.1 is out and should fix it. I'll keep this issue report up for an hour or two so people know to update

[2022-01-18 03:35] TelepathicGrunt commented on #177
actually update to 4.2.2 as i forgot to remove debug code that wouldve crashed if better strongholds is on. I pray that's the last crash in my mod..........

[2022-01-18 04:45] #177 closed, assigned to TelepathicGrunt

[2022-01-19 02:58] TelepathicGrunt opened #178 "make pillar processor somehow ignore out of chunk? (if possible)"
![image](https://user-images.githubusercontent.com/40846040/150055516-b5944680-5760-4563-893f-4d91a1afc4a5.png)

[2022-01-19 02:59] TelepathicGrunt opened #179 "Enhancements of Overworld City"
Move lantern to left side
![image](https://user-images.githubusercontent.com/40846040/150055599-aea78ee2-7adb-41db-9160-f35e7611e31c.png)

[2022-01-19 03:08] TelepathicGrunt opened #180 "Adjust custom jigsaw system to make terminators ignore boundaries"
![image](https://user-images.githubusercontent.com/40846040/150056592-4c5b24ec-8b36-4267-810f-22d7ff496297.png)

[2022-01-20 01:45] TelepathicGrunt commented on #180
fixed in 4.2.3

[2022-01-20 01:45] #180 closed, assigned to TelepathicGrunt

[2022-01-20 01:45] TelepathicGrunt commented on #179
fixed in 4.2.3

[2022-01-20 01:45] #179 closed, assigned to TelepathicGrunt

[2022-01-20 01:45] TelepathicGrunt commented on #178
Cannot fix it entirely but some internal changes to processors was done to help keep them from doing weird behaviors

[2022-01-20 01:45] #178 closed, assigned to TelepathicGrunt

[2022-01-20 02:06] rsaihe opened #181 "(WAILA is the issue) Crash when looking at furnace in mushroom igloos"
When looking at the furnace in a mushroom igloo, the game instantly crashes. My crash log can be found [here](https://paste.sr.ht/~rsaihe/c8d27573d0120cf986d9b3ec8faf00a7d9ec0e32).

[2022-01-20 02:14] TelepathicGrunt commented on #181
I'm gonna guess this more of an issue with waila or something. `mcp.mobius.waila.network.RequestTilePacket`

The furnace is literally just an empty normal furnace lol. Nothing special about it.

You'll have to share that log with waila and let them know they need to fix their packet code. I can't find waila myself when i search online due to all the derivatives and the 1.11 version taking up resul

[2022-01-20 02:16] rsaihe commented on #181
Ah, looks like someone already made an issue: https://github.com/Snownee/Jade/issues/88

Thanks for the help!

[2022-01-20 02:17] TelepathicGrunt commented on #181
and they just closed that report with a fix lol. I guess I'll close mine now. Have a great day!

[2022-01-20 02:17] #181 closed, assigned to TelepathicGrunt

[2022-01-20 02:18] rsaihe commented on #181
You too!

[2022-01-23 12:32] TelepathicGrunt commented on #142
I made a RS-Bountiful compat datapack for fabric bountiful in 1.18. Once the Forge version updates to 1.18, I'll make a forge version of the datapack (Well, actually the fabric datapack most likely will work for the 1.18 forge version anyway)
https://www.curseforge.com/minecraft/texture-packs/repurposed-structures-bountiful-datapack-compat

[2022-01-23 12:32] #142 closed, assigned to TelepathicGrunt

[2022-02-02 02:59] TelepathicGrunt opened #183 "1.18.1 update end remastered loot importer to new loot table paths"
Other mods should be imported just fine. code I have dedicated for end remastered is out of date.

[2022-02-06 14:58] TelepathicGrunt commented on #183
https://github.com/TelepathicGrunt/RepurposedStructures/commit/babdbd79524d5d6569ca83cbe9f5c1128c0848c3

[2022-02-06 18:32] #183 closed, assigned to TelepathicGrunt

[2022-02-15 00:24] MarkusBordihn opened #184 "Mod using a lot of resources (5% total) even for already generated chunks."
I like the mod, but unfortunately it cause a high load (5%) even for already generated chunks compare to other mods.

How to reproduce:

- Install Repurposed Structures and Spark or use any similar profiling tool
- Start the game and start profiling over `/spark profiler`
- Move around the world
- Stop the profiler over `/spark profiler --stop` and view the results

It will show something like:
[c

[2022-02-15 03:47] TelepathicGrunt commented on #184
Uhh. I think there’s a misunderstanding here… that method there is basically exactly like how vanilla does it. Every time the game goes to try to spawn a mob, it checks if the spot is within bounds of a structure. For vanilla, it’ll check if it is in bounds of a nether fortress or witch hut or whatever. If so, it then grabs that structure’s mob list and uses one mob from there to spawn.

Repurpose

[2022-02-15 12:25] MarkusBordihn commented on #184
Thanks for your answer, but unfortunately I need to disagree in some points with your answer, but let me clarify my point.

You are using a lot of mixin's and core modding. I would not really say it's the normal behavior of how vanilla works otherwise you could just use the standard api's and don't need to use your own implementations.
Furthermore you bypass some of the standard forge api's and ev

[2022-02-15 13:04] TelepathicGrunt commented on #184
The forge structure mob spawn event does the same accessor.getStructureAt call. That call is the only main way to tell if a spot is in a structure and is basically what is going to take up the most time since it has to grab the chunk and check for the structure start. You can clone and open up this project in an ide and follow the structure spawn hook that forge does. In fact, if I optimize this s

[2022-02-15 13:22] TelepathicGrunt commented on #184
And now I'm gonna seem like an ass as I talked with some modder friends about this to be sure and someone pointed out that vanilla does a `!p_158434_.hasAnyStructureAt(p_158436_)` check to make sure there is a structure at the spot first before doing the structure specific checks. Turns out, it's a new method introduced in 1.18 which is why i missed it in my porting to it oops.

So yeah, two optim

[2022-02-15 18:05] MarkusBordihn commented on #184
Thanks a lot for the update and no worries. You provided a lot of additional details to your answers which I really appreciated.

Glad that you find something. I will try to see if there is a way to optimize structures in general over a additional module for my performance mod in the long term.

Happy modding. ;)

[2022-02-16 00:29] TelepathicGrunt commented on #184
So after more poking around, minecraft will do roughly 2800 mob spawning attempts every second even when standing still. It can go up to even 14000 if flying around. It is just pure random position picking that mc does.

I brought that up as when roughly microbenchmarking the current code I have, running it 100,000,000 times in a loop only takes up 1 second and if i use the hasAnyStructureAt metho

[2022-02-16 00:29] #184 closed, assigned to TelepathicGrunt

[2022-02-21 00:33] dshadowwolf commented on #113
I'm actually trying to figure out how to add Waystones compat myself, but there do not seem to be any documents for how to add a non-house structure to a village. There are structure files added by the mod, so it should be somewhat simple to add a non-house config for spawning a single instance of the structure in a village, but - as stated - I cannot seem to find any docs on the JSON used to defi

[2022-02-21 00:39] TelepathicGrunt commented on #113
@brisingraerowing what minecraft version? It doesn’t matter if it is a house or not as long as the piece is small enough to fit within the side areas that road reserve and the piece has a jigsaw block at bottom facing outward with minecraft:building_entrance as the name.

Waystones did merge a pr in 1.18 to add innate compat with RS. Dunno if they released the version with compat yet

[2022-02-21 00:43] dshadowwolf commented on #113
Sadly I'm on 1.16 thanks to mod availability and part of the target group for the pack having stated that they have grown to dislike newer MC and will likely never play anything past it. I'll have to take a look and see if I can port that out, though - thanks :)

[2022-02-21 00:44] brisingraerowing commented on #113
If you're asking about Rats, the village structures only exist in 1.12.2. 1.14 and later don't have them or the villagers (the Plague Doctor was changed to work like the Wandering Trader).

[2022-02-21 00:47] TelepathicGrunt commented on #113
You won’t be able to port some of it because it relies on some new features I added in RS to make adding pieces to my villages easier. Though I though that waystones on 1.16 was already working with rs last I check. If not, take this 1.16.5 rs mod compat datapack, delete the structures folder, go into the pool_additions folder and change the nbt files they reference to Waystone’s structure nbt fil

[2022-02-21 00:49] TelepathicGrunt commented on #113
To help explain how that pool_additions folder works, I have this video here that may help with adding more pieces to RS villages: https://youtu.be/kzRQrQqlYjw

[2022-02-21 01:02] dshadowwolf commented on #113
I've got the "force waystones in villages" flag set, but if I go off flying around, I'm lucky if one tenth the villages I find have one when I was under the impression that setting things the way I have would generate them in every village (and does, if I turn off Repurposed Structures)

[2022-02-21 01:19] TelepathicGrunt commented on #113
Ah the force spawning. Yeah that’s the feature I added in 1.18 to allow datapacks to mark pieces as a require spawn. The best you can do in 1.16 is add them with higher weights but rs villages may make more than one. Waystone’s force spawning only works on vanilla villages and not rs villages is why the config doesn’t seem to work

[2022-02-21 02:32] dshadowwolf commented on #113
I turned it on to try and get any spawning at all, so... hrm... `minecraft:empty` for the desert-specific bit ? (I don't think any of the "mossify" existing ones would... wait - I don't see anything _for_ `desert` so... blargh

[2022-02-21 03:13] dshadowwolf commented on #113
okay, wtf ? Do I need to actually pull the structure from Waystones and drop it in the datapack as well? Got a message about `waystones:village/common/waystone` not being found - this is what is in the mod-jar (`data/waystones/structures/village/common/waystone.nbt`) and is what was used in the 1.18 integration... so... I'm scratching my head here.

[code]

This from having done as was suggested a

[2022-02-21 12:27] TelepathicGrunt commented on #113
@dshadowwolf I just tested in 1.16.5 with repurposed_structures_forge-3.4.7+1.16.5.jar and Waystones_1.16.5-7.6.4.jar with no datapack and setting the config to spawn in every village to true. It is working out of the box. All RS villages have a waystone except for Giant Taiga village probably due to a typo. The error you say is because I did hardcode compat with waystones in 1.16.5.
https://githu

[2022-02-21 15:13] dshadowwolf commented on #113
Odd... Let me go check versions, but according to the last time I had looked, I was up-to-date for both...

Okay, 3.4.7 for Repurposed Structures, 7.6.4 for Waystones - only difference from a raw install is that I have villages configured to be more frequent. There is a world I've found (randomly) that has 4 villages inside 1000 blocks of spawn that I've been re-using the seed for to do testing an

[2022-02-23 13:20] LeoBeliik opened #185 "Underground bastions generate with too many entities and floating lichen"
**Describe the bug**
Underground bastions generate with a ton of skeletons on them, making the world lag a lot.
Also they spawn with floating lichen

**Version Info:**
 - Minecraft version: 1.18.1
 - Forge version 39.0.79
 - RS 4.2.11+1.18.1

**Screenshots**
![2022-02-23_10 08 41](https://user-images.githubusercontent.com/11804768/155326277-90dd8128-66b0-4705-b249-f155a50f62e4.png)

[2022-02-23 13:30] TelepathicGrunt commented on #185
Copying an pasting my message from discord so that the response is documented and others can see this and can chime in if skeletons are an issue:

 the amount of skeletons in underground bastions is the same as piglins iirc. Or close to it. (Actually maybe I did increase the amount to make up for skeletons being weaker) Though I do not lag from the skeletons or notice any performance issues. Are y

[2022-02-23 13:41] TelepathicGrunt commented on #185
![BFF5EF70-F80D-4EEF-B2C4-6DE452DF0671](https://user-images.githubusercontent.com/40846040/155330687-d238783b-051f-4d79-a45a-462595585dd3.png)

more documentation purposes. Underground bastion spawns 50-70 skeletons so it seems unlikely that Skelton lag is coming from the structure itself. Most likely is another mod spawning extra mobs around so I’ll close this.

Lmk if you figure out what mod is

[2022-02-23 13:41] #185 closed, assigned to nobody

[2022-03-02 07:25] HenryMaxler opened #186 "[1.16] Giant boulders config"
Hello, I was thinking of updating the mod to the newest version, but I was unable to find a config for

[code]

Were the boulders removed?  I liked them, so I was wondering if they were removed, is there any issue with using the old version instead of updating?  The version I was using before was 1.16.5-2.5.0.

[2022-03-02 11:19] TelepathicGrunt commented on #186
I am no longer supporting 1.16 anymore so that version will not be receiving anymore updates sorry. I removed the boulders because they aren’t really structures and doesn’t fit within repurposed structures’s scope. Another mod that revamps biomes would be a much better fit for those boulders.

[2022-03-02 11:19] #186 closed, assigned to nobody

[2022-03-04 14:47] The-Bernician-Lamb opened #187 ""Errors in currently selected datapack" when attempting to load a world in Forge 1.18.2"
Repurposed Structures Version: 5.0.0
Feature NBT Deadlock Begone version: 2.0.0
Forge Version: 40.0.3
Latest Log: https://gist.github.com/NJL5390/053299f79079f06c0ec523f6c4b8c95b

Hi,
When attempting to test the 1.18.2 version of this mod on forge I found that I can start up the game just fine but when I try and load into a world I get this screen:
![2022-03-04](https://user-images.githubuserconte

[2022-03-04 15:18] TelepathicGrunt commented on #187
The mixin to increase the maximum size of weights in structure pool files is not applying. I’ll test later but I was certain it was working. Are you running with any other mods on or just RS?

[2022-03-04 15:20] The-Bernician-Lamb commented on #187
I was using other mods when I first discovered this issue but I was able to narrow it down to Repurposed Structures and I have since been able to reproduce it with only Repurposed Structures.

[2022-03-04 21:15] JasonKillsUs commented on #187
same here 1.18.2_40.0.2/3 only on new World creation

[2022-03-04 22:25] TelepathicGrunt commented on #187
fixed in v5.0.1 now

[2022-03-04 22:25] #187 closed, assigned to TelepathicGrunt

[2022-03-10 22:26] explicitargo opened #189 "1.18.2 version not generating structures"
I got the 5.0.1 RS version on 1.18.2 Forge 40.0.12 and have used the /locatebiome command to try and find the structures. They do appear on the autocomplete (#repurporsed_structures etc) but when I tp and search nearby I dont see anything.

I had other mods but now I'm trying to run it with just RS alone and the problem persists.

[2022-03-10 22:44] TelepathicGrunt commented on #189
testing the 1.18.2 version from curseforge, I am able to locate and find RS structures. Use /locate command. not /locatebiome btw. /locatebiome is for finding biomes. Not structures. The #repurposed_structures tag that shows up in /locatebiomes is only for my structures to use and know what biomes they can spawn in. That's why you need to use /locate to find the actual structures themselves.
![ima

[2022-03-10 22:44] #189 closed, assigned to TelepathicGrunt

[2022-03-11 16:49] ekiplier opened #190 "structure generated in the middle of a village in a pvj biome"
![Untitled](https://user-images.githubusercontent.com/74121461/157910747-b504285b-4e8e-4780-b729-fd2509d5488b.png)

This temple spawned in the middle of a village, interrupting one of the village buildings, in a project: vibrant journeys biome.

[latest.log](https://github.com/TelepathicGrunt/RepurposedStructures/files/8233790/latest.log)

[2022-03-11 16:53] TelepathicGrunt commented on #190
This is intentional and fine. Vanilla desert pyramids can spawn inside desert villages. So I did not add any checks to keep my pyramids from my villages. The main stay-away-from-other-structures check in repurposed structures is RS Outposts cannot be near any RS Village and can’t be near an Overworld City either.

Vanilla example:
![9BB36D4A-448D-45F4-9697-75D8FF75ADD9](https://user-images.githubu

[2022-03-11 16:53] #190 closed, assigned to nobody

[2022-03-15 19:20] zachsai opened #192 "Bad gen on nether mineshafts"
![2022-03-15_15 20 17](https://user-images.githubusercontent.com/63996164/158454941-03285ba7-38aa-4f21-b138-d5bae7e9fe4f.png)
Bad gen on nether mineshafts

[2022-03-15 19:24] TelepathicGrunt commented on #192
Not really, looks fine to me as a neat way to find them. You can lower them in the config in 1.18.1 and below. Or lower them with a datapack in 1.18.2. If anything, I may just barely lower them so the top is still visible in lava but not open as often.

[2022-03-17 05:37] iosgoodch opened #193 "Crash on load with Forge 40.0.18"
# Issue
With repurposed_structures_forge-5.0.3+1.18.2 installed, the game crashes on launch with Forge 40.0.18.

<img width="994" alt="Screen Shot 2022-03-16 at 10 36 03 PM" src="https://user-images.githubusercontent.com/9204465/158743966-cc286733-e3e7-4183-86c6-9875eee0ea84.png">

### How reproducible
Happens every time.

## Additional Information / Resources
Crash log:

[crash-2022-03-16_22.32.4

[2022-03-17 12:26] TelepathicGrunt commented on #193
Fixed in v5.0.4. Forge did a breaking change and so, I had to update a part of my mod to make it work again.

[2022-03-17 12:26] #193 closed, assigned to TelepathicGrunt

[2022-03-24 01:26] TelepathicGrunt opened #194 "make optional entries for rs_spawner files"
maybe also add a way for them to be merged like tags do?
"replace": false

[2022-03-26 03:00] #192 closed, assigned to TelepathicGrunt

[2022-03-26 03:02] TelepathicGrunt commented on #194
not gonna do merger stuff. Only optional entries

[2022-03-26 15:01] #194 closed, assigned to TelepathicGrunt

[2022-03-27 00:10] 1mtwtfss1 opened #195 "Question: what's meaning of "RS" in the advancements?"
As the title says, I wnt to know the meaning of "RS".Is it a abbreviation?

[2022-03-27 00:11] TelepathicGrunt commented on #195
RS stands for Repurposed Structures. The first letters of the words in my mod's name

[2022-03-27 00:11] #195 closed, assigned to nobody

[2022-03-27 04:41] 1mtwtfss1 commented on #195
OK. Thank you.

------------------&nbsp;原始邮件&nbsp;------------------
发件人: ***@***.***&gt;;
发送时间: 2022年3月27日(星期天) 上午8:11
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [TelepathicGrunt/RepurposedStructures] Question: what&#39;s meaning of &quot;RS&quot; in the advancements? (Issue #195)

RS stands for Repurposed Structures. The first letters of the words in my mod's name

—
Rep

[2022-03-29 00:47] TelepathicGrunt opened #196 "Blay waystones doesnt spawn in RS villages and logs error"
Code I PRed into their mod: https://github.com/ModdingForBlockheads/Waystones/commit/e9d42d1ac0689a8b9385e1471b9c09883db10666

Condition that failed to be found in registry: https://github.com/ModdingForBlockheads/Waystones/blob/1.18.x/shared/src/main/resources/data/repurposed_structures/rs_pieces_spawn_counts_additions/village_birch.json#L7

Condition registering code: https://github.com/ModdingF

[2022-04-03 00:13] TelepathicGrunt commented on #196
Issue was that I was creating the conditions registry at mod init and Waystones was registering their conditions in mod init as well. Meaning there was a rare chance that Blay may run their registry code before I make the registry which causes the RS json files in Waystones to fail later. Solution, RS now makes the conditions registry at game startup way before any mod init is ran.

[2022-04-03 00:53] TelepathicGrunt commented on #196
fixed in v5.1.1

[2022-04-03 00:53] #196 closed, assigned to TelepathicGrunt

[2022-04-13 03:42] freopt commented on #113
Advanced peripherals?

[2022-04-13 03:48] TelepathicGrunt commented on #113
@freopt does that mod add a new building to villages or change any vanilla structure?

[2022-04-13 13:39] freopt commented on #113
@TelepathicGrunt yeah it adds a computer house to villages

[2022-04-17 03:13] zachsai opened #198 "Structures spawning in end in BYG biomes"
1.18,2
![image](https://user-images.githubusercontent.com/63996164/163698590-999bdcbc-4217-4fbd-9cfa-88bcc4c02b99.png)
![image](https://user-images.githubusercontent.com/63996164/163698592-c35ccfa8-67fc-473d-95fc-194ea2d669a9.png)
![image](https://user-images.githubusercontent.com/63996164/163698596-578dab79-f630-4e76-a1fa-2ff000255831.png)

[2022-04-17 04:02] TelepathicGrunt commented on #198
Those nether structures from RS can only spawn in nether tagged biomes. To be specific, following the Nether City, It uses this tag `#repurposed_structures:has_structure/cities/nether` for biomes to spawn in:
https://github.com/TelepathicGrunt/RepurposedStructures/blob/4bb6777776487330dcbd054447915afeb1a89a68/src/main/resources/data/repurposed_structures/worldgen/configured_structure_feature/city_

[2022-04-17 04:15] TelepathicGrunt commented on #198
Problematic tag found. This is in byg and is putting the wrong biomes into c:in_nether tag
https://github.com/AOCAWOL/BYG/blob/1.18.X/Common/src/main/resources/data/c/tags/worldgen/biome/in_nether.json

You can make a small datapack to fix this as a workaround until they update.

[2022-05-01 03:51] ENUSSOUL001 commented on #231
hello so this is a very long time here also new and idea, Magma Berg? using like Magma block nether block lava? and idk

[2022-05-01 03:53] ENUSSOUL001 commented on #232
hey after 1.19 release how about Deep Dark Village and deep dark outpost mineshaft dungeons and more haha and maybe in nether and end deep dark too

[2022-05-01 03:53] ENUSSOUL001 commented on #232
which resident is Warden haha lol

[2022-05-01 03:54] ENUSSOUL001 commented on #232
mountain village when???!!!

[2022-05-01 10:47] TelepathicGrunt commented on #231
Icebergs are not structures and thus, is outside the scope of my mod. It would be better for a biome mod to make a new biome dedicated to magma bergs. It would also look much better in a dedicated biome than trying to stuff them in existing biomes

[2022-05-01 10:50] TelepathicGrunt commented on #232
@ENUSSOUL001 I don’t plan on adding more structures to the deep dark. I rather wait until the full release of 1.19 to see exactly what the final looks of the deep dark is, how crowded it is or not, and what the ancient city structure is like.

Also, mountain villages are already added to repurposed structures. Check out the /locate command to find them

[2022-05-01 11:08] TelepathicGrunt commented on #198
Latest byg is said to have fixed this issue. Please give it a try and let me know if the issue persists.

[2022-05-01 11:08] #198 closed, assigned to TelepathicGrunt

[2022-05-03 05:14] ghost opened #200 "[1.16.5 Forge] Failed to create valid structure"
latest.log
https://pastebin.ubuntu.com/p/rhzj5td39M/

[2022-05-03 10:50] TelepathicGrunt commented on #200
I stopped supporting 1.16.5 a long time ago. The only two things I can suggest is maybe try deleting the repurposed structures mineshaft config folder. That way it gets remade with the values that fits the mineshaft. The only other thing is check the `Blame Report Worldgen Import` entries in the log and see if removing the offending mods fixes the mineshafts

[2022-05-03 10:50] #200 closed, assigned to nobody

[2022-05-03 19:49] TelepathicGrunt opened #201 "adjust looks of some villages structures"
badland villages needs their trapdoor plant pots to actually have grass and plants (empty for several buildings)

Dark forest church's granite stairs needs replacing
![image](https://user-images.githubusercontent.com/40846040/166552635-d9282286-f855-4e88-b794-d5fc1fb3d6be.png)

Fixed stairs on some swamp villages (change any that is oak stairs to spruce stairs too)
![image](https://user-images.git

[2022-05-03 20:39] DarthCaesium commented on #113
**Suggestion:**
YUNG's Better Mineshafts
https://www.curseforge.com/minecraft/mc-mods/yungs-better-mineshafts-forge
https://www.curseforge.com/minecraft/mc-mods/yungs-better-mineshafts-fabric

[2022-05-03 20:52] TelepathicGrunt commented on #113
@DarthCaesium Yungs Better Mineshafts already has biome variants and the ability to create new variants with their config. So a datapack to turn RS Mineshafts into Better Mineshaft variants doesn’t make much sense which is why I never did it.

Instead, try disabling RS’s Mineshafts and try out Better Mineshaft’s config to create new variants. You may have to ask them how to work the config if it i

[2022-05-10 00:55] GoatRammaHamma70 commented on #198
it is fixed

[2022-05-14 01:57] TelepathicGrunt commented on #201
fixed in v5.1.7

[2022-05-14 01:57] #201 closed, assigned to TelepathicGrunt

[2022-05-16 16:54] itsdinkd opened #203 "[1.18.2 Better Strongholds ResourcePack] Invalid datapack?"
So, not sure why but I just started receiving this in my test world. I did edit better strongholds loot tables and placed the modifications in a datapack, but since then, I am getting this error. I tested my edits in the loot tables using jsonlint and they all passed so it should not be affecting it.

Full log: https://gist.github.com/itsdinkd/7c1ba26ede9e4d25b0f4945ba048aa64
[code]

[2022-05-16 16:57] itsdinkd commented on #203
Nevermind, I think I found the problem.

[2022-05-16 16:57] #203 closed, assigned to nobody

[2022-05-18 05:29] ghost opened #204 "Warning in server latest.log"
[17May2022 23:22:14.435] [main/WARN] [mixin/]: @ModifyConstant conflict. Skipping yungsapi.mixins.json:IncreaseStructureWeightLimitMixin->@ModifyConstant::yungsapi_increaseWeightLimit(I)I with priority 1000, already redirected by repurposed_structures.mixins.json:structures.StructurePoolMixin->@ModifyConstant::repurposedstructures_increaseWeightLimitDev(I)I with priority 1000

MC 1.18.2
forge 40.1

[2022-05-18 10:09] TelepathicGrunt commented on #204
This is intended behavior. Me and yung’s needs to increase the maximum weight allowed for template pool entries. So we use a modify constant mixin to do so. This mixin cannot stack so we just set required = 0 for the mixin so that only one of our mixins applies if the other mod’s applies first.

Please ignore that log message. It is just saying our mods are working as intended

[2022-05-18 10:09] #204 closed, assigned to nobody

[2022-05-19 20:45] Supercow1122 opened #205 "Crashed when loading a chunk and can no longer load in without server crash"
As it states in the subject. I can provide the crash log if needed. Another thing is im using Another Quality Modpack 2 and i updated my server from 1.18.1 to 1.18.2 version of minecraft and im wondering if thats why this is happening. I have had other crashes that seem to have to do with Repurposed Structures in terms of which building is "causing" it. First was a witch hut and then now the lates

[2022-05-22 13:44] TelepathicGrunt opened #206 "Village cleanups"
- Make sure mountain village jigsaw blocks turn into stone brick stairs and not cobblestone stairs like repurposed_structures:villages/mountains/houses/butcher_shop_1 does

- Make dark forest village has red/black beds instead of other colors

[2022-05-27 11:46] ENUSSOUL001 commented on #232
oh ok and maybe add mangrove village when 1.19 release because june 7 is released so and a pillager outpost mangrove,well? or well i i just listed it on post

[2022-05-29 14:08] TelepathicGrunt commented on #113
Advanced Peripherals compat is now made: https://www.curseforge.com/minecraft/texture-packs/repurposed-structures-advanced-peripherals-compat

[2022-05-30 19:27] justawander opened #207 "Repurposed Structures for 1.18.1 keeps crashing when ever i try to generate a new world"
https://bytebin.lucko.me/ODDiz9QphH

[2022-05-30 20:58] TelepathicGrunt commented on #207
Just fyi, I only dev on latest released Mc versions to reduce my workload so 1.18.1 is unsupported by me rn.

That aside, the error you shown looks like the starting template pool used for one of rs’s structures died or failed to be parsed for whatever reason. Without the full latest.log file, there’s really no way to even guess what could even be the cause or why the file failed to be parsed.

[2022-05-30 23:02] ENUSSOUL001 commented on #113
Susgestion:Better End😎
https://www.curseforge.com/minecraft/mc-mods/betterend

[2022-05-30 23:04] TelepathicGrunt commented on #113
@ENUSSOUL001 what specifically about better end should rs change to mimic or use? Their new end city style? Knowing better end, it’s probably not a jigsaw structure and thus, not able for me to turn my nether city and overworld city into the same style as their end city.

[2022-05-30 23:05] ENUSSOUL001 commented on #113
oh i see ok hmm that mods is okay

[2022-05-30 23:05] ENUSSOUL001 commented on #113
no better mods to fit this mod but i forgot what mods

[2022-05-30 23:08] ENUSSOUL001 commented on #113
i guess i go back playing better village mod 1.18.2

[2022-05-30 23:17] ENUSSOUL001 commented on #113
Last Susgestion For Now:When Dungeon Arise
https://www.curseforge.com/minecraft/mc-mods/when-dungeons-arise

oh wow has a special thanks to you for toturial i didn't know that!

[2022-05-30 23:19] ENUSSOUL001 commented on #113
oh wait the structures are too big

[2022-05-30 23:21] TelepathicGrunt commented on #113
When dungeons arises makes entirely new structure but doesn’t change any vanilla structure.

The point of these datapacks for repurposed structures is to change RS’s structure to match the new style of a vanilla structure due to another mod (think yung’s better strongholds redesigning the strongholds).

Or datapacks to add modded village pieces to rs’s villages since the mods changed vanilla villa

[2022-05-31 02:45] ENUSSOUL001 commented on #113
ah ok i see now i understand,i can find it for this okay just wait okay i find because I want to try a susgestion for this

[2022-06-04 22:53] DarthCaesium opened #210 "Problem with Quark's Variant Chests config option for Repurposed Structures' structures only."
Long story short, it was working before, but with newer versions of Repurposed Structures, the variant chests don't seem to work, but they do work for other modded structures. I have gone to the effort of even modifying Quark's config to replace chests in every one of my mods' structures, and the only mod that this has refused to work with is Repurposed Structures. Could you please take a look at

[2022-06-04 22:55] TelepathicGrunt commented on #210
This is a known issue where quark seems to have a bug. Issue report has been made to them here:

https://github.com/VazkiiMods/Quark/issues/3704

[2022-06-04 22:57] TelepathicGrunt commented on #210
RS’s structures are using a modified jigsaw system with vanilla’s json structure system. The chests in rs’s structures are saved to the structure nbt file just like any other normal structure. As far as I can tell, there’s nothing unique or special about my chests. They are fairly standard.

[2022-06-04 23:22] DarthCaesium commented on #210
In which version of Quark is the bug not present in?

[2022-06-04 23:34] TelepathicGrunt commented on #210
All quark versions on 1.18.2. I looked closer at the code they run.
![image](https://user-images.githubusercontent.com/40846040/172028807-d9b6c47a-2a47-4ef9-bc9b-592c3d4cd68e.png)

Quark is trying to get the registry name of the base structure. Not the Configured Structure Feature like they should be doing. The reason why this is bad is because "repurposed_structures:generic_jigsaw_structure" is u

[2022-06-07 14:30] TelepathicGrunt commented on #207
Closing as it has been a week and no additional info was provided

[2022-06-07 14:30] #207 closed, assigned to nobody

[2022-06-08 02:36] ENUSSOUL001 opened #211 "1.19 update in this mod with new structure then"
seems like 1.19 is out now so what idea structure do you added(plan)? well for me i want ancient city village in deep dark biome just a susgestion

Label: Susgestion

[2022-06-08 02:37] ENUSSOUL001 commented on #232
now maybe add village deep dark

[2022-06-08 02:41] TelepathicGrunt commented on #232
I dont think i'll be adding villages to the deep dark lol. It just doesn't fit and the shulk will kill the villagers.

[2022-06-08 02:43] TelepathicGrunt commented on #211
1.19 just came out lol. It's going to take me a while to update my mods to 1.19 first. get them stable. And then with any remaining free time, maybe i'll look into new structures. But a deep dark village is not going to happen as shulk kills villagers and it doesn't make sense for villagers to be so far down.

[2022-06-08 03:37] AbsorbingSafe11 commented on #232
instead of a village in the deep dark, I think building attempts (like if the builders died trying) of making a village in the deep dark that are made out of underground materials and are ruined, plus if they could be filled with undead mobs, (like if the corpses had lingering regret)
I think this is the best way to please the hundreds of people that want deep dark villages. (I have lost count of

[2022-06-08 07:42] ENUSSOUL001 commented on #211
i mean a ancient city village with warden is a residence

[2022-06-08 07:43] ENUSSOUL001 commented on #232
i mean warden village

[2022-06-08 07:44] ENUSSOUL001 commented on #232
@TelepathicGrunt a warden village,is it's good?

[2022-06-08 07:44] ENUSSOUL001 commented on #232
or maybe it's bad

[2022-06-08 13:45] TelepathicGrunt commented on #232
@AbsorbingSafe11 I’m gonna need statistics on that hundreds of requests thing because I have never seen anyone asked for that lmao.

Simply said, there’s no logical reason for a regular village to be so far down and the idea of an ruined civilization is the entire point of the new Ancient City structure lol. And if said village was to be present and destroyed, that would require creating the struc

[2022-06-08 15:51] AbsorbingSafe11 commented on #232
I meant all of the requests I have seen across multiple discord channels  for a Deep Dark Village and you are completely right about adding ruined abandoned villages to the Deep Dark doesn't make sense, for all of the reasons you mentioned. (I forgot the "Repurposed" part of Repurposed Structures)

[2022-06-09 02:27] ENUSSOUL001 commented on #232
deep dark village but residence is warden talking about:

https://youtube.com/watch?v=c5LQcUjhd7g

Joke

[2022-06-15 01:42] TelepathicGrunt commented on #211
closing this as I added some structures to https://github.com/TelepathicGrunt/RepurposedStructures-Fabric/issues/4 that I would look into to see if they will look nice or not. But that's a long term goal as porting and compat datapacks are my main priority.

 I also decided against adding any structure to the deep dark now that i got a good look at it. I couldn't tell where the regular deepslate a

[2022-06-15 01:42] #211 closed, assigned to TelepathicGrunt

[2022-06-15 01:56] TelepathicGrunt opened #212 "1.19 wells are spawning too high"
height offset in json was misnamed.

[2022-06-16 03:26] TelepathicGrunt commented on #212
fixed in v6.0.1

[2022-06-16 03:26] #212 closed, assigned to TelepathicGrunt

[2022-06-16 17:11] xaviergking opened #213 "Game crashes when creating new world."
My game will work all the way until I click "create new world" then it crashes. I've tried it without this mod and it works every time. I've included my crash report and latest log. It might be conflicting with another mod but I have no idea which, any ideas? Either that or it created a separate issue, I don't know.

[crash-2022-06-16_13.02.01-client.txt](https://github.com/TelepathicGrunt/Repurpo

[2022-06-16 19:46] TelepathicGrunt commented on #213
Remove RS until I fix this. Issue with the rs datapack json reading system which rs datapacks and waystone mods uses for compat with rs

[2022-06-16 22:47] TelepathicGrunt commented on #213
should be fixed now in v6.0.2. Give it a try. I just released it.

[2022-06-17 11:29] #213 closed, assigned to TelepathicGrunt

[2022-06-19 10:41] TelepathicGrunt commented on #113
Compat datapack for Yungs Better Witch Hut is now created
https://www.curseforge.com/minecraft/texture-packs/repurposed-structures-better-witch-huts-compat

[2022-06-22 15:57] TelepathicGrunt commented on #210
It looks like they fixed it now with Quark-3.2-358.jar. I'm gonna give it a try in a few minutes

https://www.curseforge.com/minecraft/mc-mods/quark/files/3840125

[2022-06-22 16:10] TelepathicGrunt commented on #210
yep fixed. Closing now

[2022-06-22 16:10] #210 closed, assigned to TelepathicGrunt

[2022-06-23 00:56] #206 closed, assigned to TelepathicGrunt

[2022-06-23 00:57] TelepathicGrunt opened #214 "Fixed random sources being seed with 0 at y = 0"
https://github.com/TelepathicGrunt/RepurposedStructures/blob/15f40d974568d646890e4c6fef1ea21084d038ce/src/main/java/com/telepathicgrunt/repurposedstructures/world/processors/SpawnerRandomizingProcessor.java#L44

[2022-06-25 00:52] TelepathicGrunt commented on #214
fixed now in v6.0.7

[2022-06-25 00:52] #214 closed, assigned to TelepathicGrunt

[2022-06-30 10:14] Claes-Arno opened #215 "End pyramids blow up automatically [Lootr - edit their config to fix]"
Whenever an end pyramid loads in, the tnt in the chest room goes off automatically.

[2022-06-30 10:16] Claes-Arno commented on #215
This happens in v6.0.9

[2022-06-30 22:47] TelepathicGrunt commented on #215
Just tested. It is not blowing up for me at creation.
![image](https://user-images.githubusercontent.com/40846040/176790833-f16d1d6f-424d-495a-aeab-4ccee9e17820.png)

In order for the trap to be set off, the chest has to be empty of all items to make the comparator turn on the redstone torch. What other mods do you have on? Any that modifies the chest loot table or replaces the chests or changes t

[2022-06-30 22:57] TelepathicGrunt commented on #215
Looks like having lootr on will cause the comparator to fail and set off the trap. I'll ask lootr to see if they have a way to turn off their lootr chests for a specific loot table or change how they feed power to comparators

[2022-07-01 10:20] Claes-Arno commented on #215
I am indeed using lootr. I am going to try adding this structure to the lootr config so that the chest won't be converted into lootr chests.

[2022-07-01 11:58] Claes-Arno commented on #215
Changing the config doesn't work it seems. I'd have to disable lootr in the whole end dimension, which i don't really want to do. I don't see another way around though...

[2022-07-01 12:06] TelepathicGrunt commented on #215
What config did you edit and what did you put into the config?

[2022-07-01 12:29] Claes-Arno commented on #215
I tried the dimension-blacklist config in the lootr-common.toml file. I put "minecraft:the_end" in the blacklist, but I only want to blacklist the end pyramid structure from your mod. I also tried to change the loot table with KubeJS, but that doesn't seem to work because lootr generates instanced loot only when you interact with the chest (I think), therefore the comparator reads it as 'empty' an

[2022-07-01 12:56] TelepathicGrunt commented on #215
Lootr specifically made their chests have no comparator output at all because the chest loot is per player and the comparator is not a player and thus, has no way of knowing what loot to check.

Is there any other config in lootr beside the dimension one?

[2022-07-01 13:22] Claes-Arno commented on #215
Oh ok I didn't know it worked like that. Here's a screen of the whole config file:
<img width="1106" alt="Screenshot 2022-07-01 152116" src="https://user-images.githubusercontent.com/91273692/176903034-72763cd4-05be-466f-b9c4-a17be28507c1.png">

[2022-07-01 13:47] Atlantispy commented on #113
Suggestion: Domestication Innovation

Adds a petshop to villages.

[2022-07-01 18:09] TelepathicGrunt commented on #215
loot_table_blacklist is what you want.
`loot_table_blacklist = ["repurposed_structures:chests/pyramids/end"]`
Will work and not convert the comparator chests in end pyramids.

![image](https://user-images.githubusercontent.com/40846040/176947979-188bde79-f5da-41b6-ac62-05070e72bf3f.png)

[2022-07-01 18:54] Claes-Arno commented on #215
I tried that before but forgot the chests part. It works now! Thanks a lot!

[2022-07-01 18:54] #215 closed, assigned to TelepathicGrunt

[2022-07-03 00:17] TelepathicGrunt opened #216 "Make RS mansions use template pools for spawning illagers"
the child jigsaw system was added to the mansion system already for allays. Time to use it for the illagers too to make it much, much easier for people to add new mobs to RS mansions

[2022-07-06 14:10] TelepathicGrunt commented on #113
Better desert temples done now: https://www.curseforge.com/minecraft/texture-packs/repurposed-structures-better-desert-temples-compat

[2022-07-09 20:33] Lokos2 opened #217 "Crash on newer Forge versions [FIXED: update to v6.1.3 RS or newer]"
I'm not the most experienced, so I can't tell what the specific details are, but seems that the mod is not compatible with the latest up-to-date version of Forge, it was working fine yesterday before the update.

**Error message:**
https://mclo.gs/xnAWLbk

Mods used:
Aquaculture-1.19-2.4.0
architectury-5.7.27-forge
balm-4.2.0
betteranimalsplus-1.19-11.0.6-forge
BiomesOPlenty-1.19-17.0.0.136
corpse

[2022-07-09 20:38] TelepathicGrunt commented on #217
it's Forge 41.0.79 that broke it
![image](https://user-images.githubusercontent.com/40846040/178121863-30ac6de7-121f-4807-bbd1-6671f2d404fa.png)

[2022-07-09 21:14] TelepathicGrunt commented on #217
fixed in v6.1.2 RS. It requires v41.0.85 Forge or newer to work now. Thank you for reporting this!

[2022-07-09 21:14] #217 closed, assigned to TelepathicGrunt

[2022-07-14 16:24] krjencik opened #218 "repurposed structures failed to load correctly"
forge 41.0.98
version of mod: 6.1.2

[2022-07-14 16:26] TelepathicGrunt commented on #218
Do you have any logs or screen of the issue?

[2022-07-14 17:17] TelepathicGrunt commented on #218
Forge renamed a field. Fixing

[2022-07-14 17:17] TelepathicGrunt commented on #218
linking this to keep info together of these forge breaking changes
https://github.com/TelepathicGrunt/RepurposedStructures/issues/217

[2022-07-14 17:23] TelepathicGrunt commented on #218
Fixed in v6.1.3

[2022-07-14 17:23] #218 closed, assigned to TelepathicGrunt

[2022-07-16 22:25] TelepathicGrunt opened #219 "Add compat out of the box for wyther overhaul datapack"
their biomes arent tagged properly and the underground biome is damaging to rs underground bastion spawning.

[2022-07-18 20:48] LaBestiaBrutal opened #220 "Crash with processor lists when reusing 1.18.1 or older world in 1.18.2 or newer"
Hi, good day sir! I have been using you mod in my server for several months, it happens when everything is loaded and somehow it gives me an error in the console at the end of the process, then when I log in and try to move to generate new terrain it just freezes; there is no crash rep but I leave you a log. I am not sure if this mod is responsible, but it says something about jigsaw witch huts fo

[2022-07-18 20:56] TelepathicGrunt commented on #220
You updated a world from like 1.18.1 Mc or older to 1.18.2 I’m betting. No, I’m sure lol.

Updating modpacks across Mc version is always bound for issues.

In this case, I did a refactor to clean up some stuff in my mod in 1.18.2. Part of this was renaming and moving processor lists which is used for randomizing blocks in structures.

The issue is the old 1.18.1 or older chunks that were in the pr

[2022-07-18 21:25] LaBestiaBrutal commented on #220
Thanks!! I appreciate it, really. I was planning to add just a few mods to my modpack, but the folder got bigger and bigger and then problems like these with it xD but the fun is too much, so...
It is not giving me the error anymore, but going to keep generating new terrain to see if there are more mods involved.

[2022-07-20 02:37] Yupoman commented on #60
The same thing happens to me, it points to the place where a stronghole originally appears in the same seed in vanilla (I checked it in another world) but in the world with mods there is nothing there and the eye keeps pointing out that the stronghole is there.
repurposed_structures_forge-5.1.14+1.18.2
Forge 40.1.19

[2022-07-20 02:43] TelepathicGrunt commented on #60
@Yupoman are you positive this is related to RS? I do not touch the vanilla stronghold at all. If you have another mod that touches the eyes of ender, they are probably going to be more likely the cause.

testing with just 1.18.2 rs alone and the eyes are working just fine so I doubt it’s an issue with my mod at this point unless you can narrow it down to certain mods in your modpack

[2022-07-20 02:45] TelepathicGrunt commented on #60
Also, if you have better strongholds mod on, they stop vanilla strongholds from spawning so the eyes should be pointing to their new stronghold locations. A mod may be removing the vanilla stronghold but the eye isn’t changed properly to point to the new structure. Maybe end remastered might be involved. Either way, doubtful it’s anything to do with rs

[2022-07-21 23:46] Yupoman commented on #60
The truth is that I have no idea, I have many mods but for structures only this one, Quark (add dungeons) and for biomes I have Biomes O' Plenty and Oh The Biomes You'll Go. I just comment here since it is the only one where I found someone with the same problem and this mod adds strongholds to the end and nether, but if it doesn't touch those of the overworld then it shouldn't be.
Surely it was t

[2022-07-22 01:01] TelepathicGrunt commented on #60
No problem. It's always fine to ask me a question about my mod. Good luck and I hope you can figure out the issue

[2022-07-23 02:59] Corwin00420 opened #221 "End Loot Tables not found."
Hi I am getting the following error on my server.
MC 1.18.2 Forge 40.1.68

[Server thread/ERROR] [co.te.re.RepurposedStructures/]: Unable to find loot table value: minecraft:chests/end_city_treasure
[23.07 12:54:25] [Server] [Server thread/ERROR] [co.te.re.RepurposedStructures/]: Unable to find loot table value: minecraft:chests/end_city_treasure
[23.07 12:54:25] [Server] [Server thread/ERROR] [co

[2022-07-23 03:06] TelepathicGrunt commented on #221
Interesting. It seems another mod or datapack broke the vanilla end city loot table. The path I have is correct according to the wiki: https://minecraft.fandom.com/wiki/Loot_table#end_city_treasure

All this will impact is that certain RS structure’s chests will not be able to import modded loot from the vanilla loot table. The rs structures will still have their regular loot. So isn’t gamebreakin

[2022-07-23 14:51] TelepathicGrunt commented on #219
Datapack made for compat. I am asking WWOO to add this to their mod/datapack so compat will be done mostly on their side with me only needing to handle a few edge cases on my side. Until then, you users can put on this datapack below yourself to make WWOO work much, much better with other mods and datapacks.

[wyther_tagged.zip](https://github.com/TelepathicGrunt/RepurposedStructures/files/9175795

[2022-07-23 20:46] TelepathicGrunt commented on #215
Lootr just recently updated so their chests always puts out a comparator value of 1. So Lootr chests should not make RS end pyramids explode anymore.

[2022-07-24 12:38] TelepathicGrunt commented on #216
done now in v6.1.4

[2022-07-24 12:38] #216 closed, assigned to TelepathicGrunt

[2022-07-25 05:54] sisby-folk opened #222 "Cool glacier outposts spawn on grassy islands"
Seems a bit silly innit?

![image](https://user-images.githubusercontent.com/55819817/180707609-f44f4f95-9f4e-4971-a042-a3bcac121c66.png)

[2022-07-25 10:13] TelepathicGrunt commented on #222
Aren’t you using fabric/quilt? Because c:icy tag has frozen ocean in it which I have a PR up to fix on fabric. So this isn’t a forge issue unless someone else or another mod is adding frozen ocean to c:icy or forge:is_icy tags https://github.com/FabricMC/fabric/pull/2416#pullrequestreview-1049045188

With a datapack, delete this entry by making the datapack’s icy tag have replace as true and copy

[2022-07-25 10:20] sisby-folk commented on #222
oh darn! yep, this was quilt honestly the frozen ocean outpost looked cool.
Cheers! feel free to close this.

On Mon, 25 Jul 2022, 8:14 pm TelepathicGrunt, ***@***.***>
wrote:

[2022-07-25 11:03] TelepathicGrunt commented on #222
I'll keep this open until fabric merges my PR just so the issue is documented and others can see. I'll also perform magic and move this over to the Quilt repo.

[2022-07-25 14:28] xhatz opened #223 "Generation Issues with other mods (Quark)"
Hello! Basically, when using other mods that change the carver or generate new caves, weird things can happen. Here is an example:
![image](https://user-images.githubusercontent.com/1364915/180801336-44b50cd8-20a6-4942-a8a8-d74d529f6a66.png)
Is there any known fix for this please?

[2022-07-25 14:37] TelepathicGrunt commented on #223
There is not. This is caused by quark using a feature to make its caves instead of a carver. So what this means is in one chunk, quark carves out the cave for that chunk. Then in the next chunk over, the ocean mineshaft starts generation, sees it borders air in the side chunk, places prismarine in the side chunk to try and enclose itself from air, and then quark’s cave carver eats away at the mine

[2022-07-25 15:08] TelepathicGrunt commented on #223
Also, I thought quark got rid of their cave feature entirely in 1.19. If you’re using an older version of Mc, do note I won’t be backporting updates anymore for older Mc versions of my mod. If this issue is occurring in 1.19 and I have some examples of mods still using features to make caves, lmk and I’ll try and talk to those modders on alternatives to accomplish their goal.

[2022-07-25 15:19] xhatz commented on #223
Thank you for the detailed explanation! And my bad I should've had mentioned it was on 1.16 haha, sorry. I'll just disable Quark's cave modifications.

[2022-07-25 15:19] #223 closed, assigned to TelepathicGrunt

[2022-08-06 00:18] NOS73 opened #224 "Crash in modpack about loot table"
I'm now hosting a modded server with a modpack containing RepurposedStructures. My server suddenly crashes without any notice. I tried to restart the server but my console returned serval lines about cannot load loot table. I know nothing about Java coding and I tried to fix this by replacing all the config files of this mod. Unfortunately, it doesn't work. This is the crash report from my server.

[2022-08-06 00:57] TelepathicGrunt commented on #224
That crash has nothing to do with repurposed structures or loot tables. This is the line I am looking at

net/mcreator/ecofriendly/client/particle/OilDripParticleYMParticle for invalid dist DEDICATED_SERVER

The Mcreator mod Ecofriendly is crashing because they try to load a clientside only class while on the server which is not allowed. They will need to fix that. You can remove Ecofriendly to st

[2022-08-06 00:57] #224 closed, assigned to TelepathicGrunt

[2022-08-06 14:32] TelepathicGrunt commented on #221
Gonna close this as it has been 15 days with no response and it's the vanilla loot table that is dying which i do not modify at all.

[2022-08-06 14:32] #221 closed, assigned to TelepathicGrunt

[2022-08-07 22:48] DarthCaesium commented on #113
What about Pixelmon? I know it's for 1.16 now, rather than 1.18 or 1.19, but it seems like a good mod to make a datapack for.

[2022-08-07 23:17] TelepathicGrunt commented on #113
Does pixelmon modify vanilla structures in any way?

[2022-08-08 10:40] DarthCaesium commented on #113
It adds Pokemarts to villages

[2022-08-09 00:52] TelepathicGrunt commented on #219
update to v3.1.2 WWOO as they included the fixed tags now

[2022-08-09 00:52] #219 closed, assigned to TelepathicGrunt

[2022-08-24 16:03] brisingraerowing opened #225 "Crash with Create / IDAS / RS"
[Crash Log](https://gist.github.com/brisingraerowing/698324c36c6c3425985a77e25eed49cd)

It looks like RS generated a structure through an IDAS structure that has a Create kinetic source, breaking part of said source and bricking the world. I've also reported this to Create at Creators-of-Create/Create#3704.

[2022-08-24 16:09] TelepathicGrunt commented on #225
Yeah that’s not an RS bug. That crash will occur with any mod or datapack spawning an structure nbt piece that replace’s create’s block. Create will need to fix their block entity so it does not try to access a null field. I’m assuming that field is the level field which is null for block entities very early in worldgen

[2022-08-26 02:36] ENUSSOUL001 commented on #113
hey another idea wilder wild! it's not forge, it's quilt and fabric!! maybe try forge too!!!

https://www.curseforge.com/minecraft/mc-mods/wilder-wild

[2022-08-26 02:40] TelepathicGrunt commented on #113
@ENUSSOUL001 reading the mod page, it does not look like wilder wild mod does any change to vanilla structures nor adds any new pieces to vanilla structures. Thus there’s no datapack for me to make. I won’t be making modded biome specific compat datapacks because it’s too much work and there’s too many biomes mods. Not worth the time or effort. I’m busy with other stuff at the moment

[2022-08-26 10:40] ENUSSOUL001 commented on #113
sheesh okay fine.... hmmmm i think i found something that change....

[2022-08-26 22:32] ghost opened #227 "issue with datapacks on 1.16.5"
we are on ATM6 which has repurposed_structures_forge-3.4.7+1.16.5
We added to the servers datapack:
Repurposed_Structures-Better_Dungeons_v2
Repurposed_Structures-Immersive_Engineering_v4
Repurposed_Structures-Ice_and_Fire_v2

The nether was a laggy and it kicked us.

in the logs it shows a lot of:

`[00:04:22] [Worker-Main-152/ERROR] [co.te.re.RepurposedStructures/]:
*****************************

[2022-08-26 22:39] TelepathicGrunt commented on #227
You would need to share the logs from server please. If the server stalled and timed out, then I would need a thread dump as well. Spark can give thread dumps iirc. Do the dump right when the server stalls which is when chunks stops loading and mobs are frozen, etc. This will show exactly what stalled the server and it may not even be the datapacks you listed (coincidences happens)

without the lo

[2022-08-26 23:01] ghost commented on #227
The client gets kicked but the server carries on running. Reconnecting will let you run fine for a bit.

The log file is too big to pastebin (or to post here) so I uploaded it to my google drive:
https://drive.google.com/file/d/10VpRnUOoKqzvHWyI10PIJmzxLoYB9TnE/view?usp=sharing

Np on the not supporting, I think its some interaction between the mod and the datapacks, just figured its something tha

[2022-08-26 23:37] TelepathicGrunt commented on #227
![image](https://user-images.githubusercontent.com/40846040/187003078-fcdebe3c-124e-48ca-8db9-25abd0218a1d.png)
Seems to work fine. Check the client log to see if it has a reason for the disconnect.  Also, depending on how server is setup, a deadlock wont crash the server but clients will still disconnect if the server doesn't respond in time. (which a thread dump would be helpful for)

[2022-08-26 23:39] TelepathicGrunt commented on #227
The `Failed to get mob.` logspam you have means RS was unable to read its json files for dungeon spawner mobs. None of the datapacks you listed touches the rs_spawner files and doesn't seem to have any worldgen datapack parse issue errors in your log file. Meaning something else is breaking RS there for the mob spawner.

[2022-09-03 05:31] AllThatJazz139 opened #228 "Extreme TPS lag on Server"
2 weeks ago I created a 1.18 Forge server for me and my friends to play on. After Rigorous single player testing we started it up, However, occasionally when generating new terrain TPS drops to about 2-5 and an error in the Console appears. This lag lasts from anywhere from 5-30+ minutes.

Based on the Console message I thought best to make an issue report here, even though I am not 100% certain t

[2022-09-03 10:59] TelepathicGrunt commented on #228
This is not an RS issue. The lag comes from a mixin into player tick to try and locate a structure nearby.

![6FFE7D2F-1FAD-4D9C-91F7-DB50FA4927F0](https://user-images.githubusercontent.com/40846040/188267353-a482e253-cb5a-425e-812f-a4004dfb9c3c.jpeg)

This mixin was determined before to be Better Desert Temple’s mixin. Go into Better Desert Temple’s config and turn off their Mining Fatigue effect

[2022-09-03 11:01] TelepathicGrunt commented on #228
Or you can try and update Better Desert Temple and see if that solves the issue as they may had fixed the problem with the mixin. https://github.com/YUNG-GANG/YUNGs-Better-Desert-Temples/issues/8

[2022-09-03 15:53] AllThatJazz139 commented on #228
Thank you so much for this! I am going to test this immediately. I apologize once again for taking up your time with an issue that wasn't your mod.

[2022-09-03 15:58] TelepathicGrunt commented on #228
It’s fine as this isn’t easy to narrow down. I only know about it because some other users were complaining about the same problem and I helped find out that it was better pyramid’s mixin

[2022-09-05 16:32] TelepathicGrunt commented on #228
I'm guessing that config/updating better pyramid solved the issue. I'll close this report now.

[2022-09-05 16:32] #228 closed, assigned to TelepathicGrunt

[2022-09-05 16:33] TelepathicGrunt commented on #227
It's been 10 days without a response and I am unable to reproduce issue. I'll close this now unless more info comes up and then I'll reopen

[2022-09-05 16:33] #227 closed, assigned to TelepathicGrunt

[2022-09-05 18:45] ghost commented on #227
My apologies, I did not see your reply.
We removed the datapacks and the issue went away and the server has been fully stable.
Reluctant to add them again and have the issue come back.
If its not effecting anyone else then tbh its a mute issue. If i had more free time on my hands I would see if I could get more details but works pretty busy these days and my free time to game is cherished lol.

Ag

[2022-09-11 04:48] PraseodymiumSpike opened #229 "Ancient Debris Exposed to Air in Nether Mineshafts"
In Nether Mineshafts, occasionally, Ancient Debris can be found exposed to Air. Ancient Debris is never supposed to spawn exposed to Air.

[2022-09-11 10:58] TelepathicGrunt commented on #229
Actually, this is intentional. I deliberately put the Nether Mineshafts in a later generation stage so that they are spawned after Ancient Debris so that it can have exposed Ancient Debris and makes exploring the Mineshafts actually worthwhile.

If you do not like this, you can use a datapack and override the structure json file to move the Mineshafts to an earlier generation stage so that they sp

[2022-09-11 10:58] #229 closed, assigned to nobody

[2022-09-21 13:17] Kasia1403 opened #230 "Suggestion"
To backport to Minecraft 1.12.2 Forge 2860 please !

[2022-09-21 13:22] TelepathicGrunt commented on #230
Sadly, I do not do backports. It's too much work and 1.12's worldgen code is horrible and I never ever want to touch that again lol. If another modder wants to backport my mod, they can do so! But would require a complete rewrite of the mod from the ground up to the point it is an entirely different mod. Especially since the jigsaw structure system doesn’t exist at all in 1.12

[2022-09-21 13:22] #230 closed

[2022-10-03 00:04] #43 closed

[2022-10-03 00:04] #44 closed

[2022-10-03 00:04] #45 closed

[2022-10-03 00:06] #220 closed, assigned to TelepathicGrunt

[2022-10-03 16:29] Sunconure11 opened #234 "[1.19.2 Quilt] Power rail rotation fix mixin crashing"
https://gist.github.com/Sunconure11/4a122cd2006d43202af7a790d299490c

[2022-10-03 16:30] Sunconure11 commented on #234
This pretty much soft-locks the game.

[2022-10-03 20:19] Sunconure11 commented on #234
https://pastebin.com/ggWStu7e

[2022-10-03 20:20] Sunconure11 commented on #234
@TelepathicGrunt Might want to look at this

[2022-10-03 20:53] TelepathicGrunt commented on #234
I get notifications for all issue reports on my repo. No need to ping me as it won't make me be able to get off of work faster lol.

[2022-10-03 21:09] TelepathicGrunt commented on #234
Should be fixed in v6.3.1 Quilt RS that is released now. Thank you for reporting this!

[2022-10-03 21:09] #234 closed, assigned to TelepathicGrunt

[2022-10-17 23:53] TelepathicGrunt commented on #113
Signpost just updated to add compatibility with Repurposed Structures directly! Their signposts spawn in RS villages and can point to other RS villages
https://www.curseforge.com/minecraft/mc-mods/signpost

[2022-10-21 15:14] RedBeast1959 commented on #113
Hi, if you still accept suggestion for structure mod compat... I really want to recommand compat for Biome Makeover.

* Biome Makeover(Forge): https://www.curseforge.com/minecraft/mc-mods/biome-makeover-forge
* Biome Makeover Dark Forest Trailer: https://www.youtube.com/watch?v=5aQJNwvrX4A

It changes Dark forest woodland mansion into really awesome dungeon structure. Repurposed Structure adds new

[2022-10-21 15:47] TelepathicGrunt commented on #113
@RedBeast1959 Biome Makerover uses a custom structure type to do their mansion and provides no way for me to use that structure type with different pieces. It is not possible for me to make a datapack that creates new variants of their mansions in different styles. They would need to make their structure type more datapack configurable and able to take non-hardcoded pieces to use.

[2022-10-21 15:52] RedBeast1959 commented on #113
Ah.... that's unfortunate... It's okay though. I love your mod :)

[2022-10-24 01:30] TelepathicGrunt opened #237 "Add pillar support to all RS houses"
Sometimes the legacy carver cave code or ravines will eat away land under houses and leave houses floating. Adding pillars down to first land for the houses will look much better. Huge amount of work though. May start this work in 1.19.3...

[2022-10-26 02:55] johanplima opened #238 "Crash with Valhelsia Structures"
When I turn Valhelsia Structures Off it runs perfect

[2022-10-26 11:47] TelepathicGrunt commented on #238
Can you please provide me a latest.log file after you get the crash? The file is in the logs folder above he mods folder

[2022-10-26 23:24] TelepathicGrunt commented on #238
Oh Valhelsia Structures is only on 1.18.2. I'm not really supporting MC versions older than 1.19.2 but even then, I gave it a test and my mod is running just fine with v0.1.0 Valhelsia Structures in 1.18.2 with latest Forge version and v5.1.14 RS.
![image](https://user-images.githubusercontent.com/40846040/198156915-bd8c8487-e728-486e-890d-2aa47d6e58f3.png)

[2022-10-27 21:38] vitorvicente opened #239 "Crash when entering the Nether"
Every time I try to open the nether in Singleplayer it crashes... it doesn't even finish loading (ie I never actually see the nether). The crash log mentions an issue with Repurposed Structures when generating something in the Nether.

I have a feeling this might be my fault due to some conflict/configuration, but, since you're more familiar with the mod, I thought you might have a clearer idea. I

[2022-10-27 21:46] TelepathicGrunt commented on #239
Ugh 1.16.5. The old Mc version where other mod’s either broken worldgen json or block property manipulation can cascade and kill my mod’s start pool json which then causes the game to crash due to empty template pool.

If you share the latest.log file (not the crashlog file) after you get the crash, it’ll have more info as to what mod could be involved or at least, what json file is getting broken

[2022-10-27 21:48] TelepathicGrunt commented on #239
One known mod to conflict in 1.16.5 is Water Physics Overhaul
https://github.com/TelepathicGrunt/RepurposedStructures/issues/97

[2022-10-27 21:48] vitorvicente commented on #239
https://pastebin.com/aJYcJZDQ - Latest.log file

And sorry for bugging you about an older version xD

[2022-10-27 21:52] TelepathicGrunt commented on #239
Ok so the latest.log file just before the crash states this:

[08:27:41] [Worker-Main-12/ERROR]: MinY should always be less than MaxY or else a crash will occur or no pieces will spawn. Problematic structure is:repurposed_structures:mineshaft_crimson

i don’t see any worldge json parsing issue so next step is, can you double check the config you have for crimson mineshaft and make sure min y is le

[2022-10-27 21:58] vitorvicente commented on #239
https://pastebin.com/R16rdf9e - Am an idiot, would be hard for the mineshaft to generate above Y 15 and below Y 14 xD I had a feeling I had miss configured something somewhere...

Thanks for the help! The nether now generates smoothly :)

[2022-10-27 21:58] #239 closed, assigned to TelepathicGrunt

[2022-10-29 18:05] TelepathicGrunt commented on #237
Add the pillar support to the roads as well for crimson and warped villages. Lots of work ahead of myself

[2022-10-29 18:05] TelepathicGrunt commented on #237
Also add support for crimson/warped/nether brick outposts as they are hit too by ravines

[2022-10-30 19:29] zaze06 opened #240 "Can i turn off the sideeffects of red sandtemple?"
So i wonder is it possible to turn off the side effects of the red sand temple

[2022-10-30 19:30] TelepathicGrunt commented on #240
??? I am not sure what you mean by side effect. I’m guessing you’re talking about the Badlands Pyramid but side effect? Can you please be more description of what you’re looking for?

[2022-10-30 19:31] zaze06 commented on #240
when i walk into a badlands pyramid I get mining fatigue 3, and I whunder if I can turn it off

[2022-10-30 19:33] TelepathicGrunt commented on #240
Are you using the Repurposed Structures - Yung’s Better Pyramid compat datapack? If so, edit the datapack, go into data/betterpyramids/tags/structures/mining_fatigue.json and then delete the badlands pyramid entry from it

[2022-10-30 19:36] zaze06 commented on #240
Yung's better desert temple is the only mod I can find, no datapacks

[2022-10-30 19:43] TelepathicGrunt commented on #240
Without the compat datapack on, then my pyramid cannot have mining fatigue.

If the badlands pyramid looks like this, then you dont have the compat datapack and it is not my mod giving mining fatigue then:
![image](https://user-images.githubusercontent.com/40846040/198898423-bad2a6e9-f5b5-4268-aa65-4c5e9a4905eb.png)

If the badlands pyramid looks like this, then you do have the Repurposed Structur

[2022-10-30 19:45] TelepathicGrunt commented on #240
I just fixed the images in my last comment. GitHub going borked

[2022-10-30 19:47] zaze06 commented on #240
I have the small pyramid. and i did find a `"betterdeserttemples:desert_temple"` in the data folder for yungs in a `applies_mining_fatigue.json` file. so removing the mod should fix it?

[2022-10-30 20:02] TelepathicGrunt commented on #240
No. If you see a small Badlands Pyramid, then you do not have Repurposed Structures - Yung's Better Pyramid Compat Datapack. Which means my Badlands Pyramid is not tagged to have mining fatigue. Thus the mining fatigue is not from my mod.

 Have you verified that you are not near a different structure instead? If you're near yung's own desert pyramid structure, then removing his structure from the

[2022-10-30 20:06] zaze06 commented on #240
I have verified that the mining fatigue is triggered when going inside the area of the temple. and from what I know there is no other instruction near it

[2022-10-30 20:11] TelepathicGrunt commented on #240
Please give me your entire modpack instance including the mods folder, config folder, resourcepack folder, etc. What you are describing is not possible unless there is a datapack specifically tagging my badlands pyramid to be using yung's mining fatigue stuff.

Pic of me with both RS and Yung's better temple on but no compat datapack. Thus no mining fatigue in pyramid
![image](https://user-images.

[2022-10-30 20:13] zaze06 commented on #240
better minecraft v9 whit additon of simple vc(but i bet its not relevant), defualt config, resorcpacks(see immage)
![image](https://user-images.githubusercontent.com/54169874/198899579-de6e65b8-a925-47e6-9bbc-e77343da5dca.png)

[2022-10-30 20:16] zaze06 commented on #240
if its relevant its the fabric version of the modpack(it probably is)

[2022-10-30 20:20] TelepathicGrunt commented on #240
That modpack does have the compat datapack. It's in the paxi folder in the config folder
![image](https://user-images.githubusercontent.com/40846040/198899861-3f68eba3-d009-4447-9ed0-56801d8dc4a3.png)

[2022-10-30 20:21] zaze06 commented on #240
ok so, just removing that datapack fixes it? or should I just remove a thing in the datapack?

[2022-10-30 20:24] TelepathicGrunt commented on #240
If you want RS pyramids to continue to be in the style of Yung's Better Temples, then edit that Repurposed_Structures-Better_Desert_Temples_v2 datapack by unzipping it, go to `\data\betterdeserttemples\tags\worldgen\structure\applies_mining_fatigue.json` file, and remove RS pyramids from that tag file. Save. Delete the zip version and keep the unzipped form (minecraft can read both zipped and unzi

[2022-10-30 20:28] zaze06 commented on #240
ok thanks

[2022-10-30 20:32] zaze06 commented on #240
all the tags are `repurposed_structures:pyramid_X` shuld i remove all of thos then?

[2022-10-30 20:34] TelepathicGrunt commented on #240
make the file be

[code]

to make all RS pyramids not have mining fatigue

[2022-10-30 20:34] zaze06 commented on #240
thanks

[2022-10-31 08:36] TelepathicGrunt commented on #240
Closing as it seems we resolved the issue lol

[2022-10-31 08:36] #240 closed, assigned to nobody

[2022-10-31 10:30] zaze06 commented on #240
yea, and thanks for all the help even tho this wasn't your mods doing

[2022-11-05 05:08] Zelioth opened #241 "Mod Causes lag (Possible compability issue) and also .... ads server components to single play....."
I'll start with the information

Minecraft 1.19.2
Forge 43.1.47
RS : 6.3.5+

Okay so I'm in the process of improving and testing my pack "Friends United" which is published on curse forge. This pack has had a mjor memory issue that I have been working on that I have narrowed down to Biome Modifiers. I'm not fully blaming Repurposed Structures for the lag issues and this is very difficult to explai

[2022-11-13 16:13] Jukabofy opened #242 "Crash when a End Outpost is founded"
https://www.curseforge.com/minecraft/texture-packs/repurposed-structures-savage-ravage-datapack
I'm using this datapack, it doesn't crash it just freezes the world
here is my log, it shows something about three entities
[debug.log](https://github.com/TelepathicGrunt/RepurposedStructures/files/9997707/debug.log)

[latest.log](https://github.com/TelepathicGrunt/RepurposedStructures/files/9997706/lat

[2022-11-13 16:25] TelepathicGrunt commented on #242
It is hard for me to read the log on mobile but there’s no stacktrace or crash from what I can see. And since you said the world freezes, that means you got a deadlock or code that is stuck. The log files won’t help here. Instead, a thread dump will be needed. Can you check if spark can do a thread dump or use VisualVM to do so?

The thread dump should be done as soon as you notice the game locked

[2022-11-13 16:36] TelepathicGrunt commented on #241
“ server environment for single player”

I believe you’re talking about the integrated server that vanilla spins up. Single player is not just a client. It’s a client with a built in server to run serversided stuff locally.

I can’t read the spark link you gave on mobile as it tells me nothing so you’ll have to please show a bit more about what you’re talking about. Also, how much Ram usage are we

[2022-11-14 02:16] TelepathicGrunt commented on #238
Closing as no more info was provided over 2 weeks and I cannot reproduce the issue

[2022-11-14 02:16] #238 closed, assigned to nobody

[2022-11-14 02:22] TelepathicGrunt commented on #242
I just tested Repurposed Structures, Savage and Ravage, and the datapack all alone and I was able to go to an End Outpost just fine. It sounds like you got a different mod in the pack that's breaking for whatever reason but yeah, the thread dump will probably be the easiest way to find the problematic mod.
![image](https://user-images.githubusercontent.com/40846040/201561846-4bc3960c-35b8-41e3-9b6

[2022-11-14 02:30] TelepathicGrunt commented on #241
I am at computer and now can look at the spark profiles. The memory usage is well, just about nearly the same. Maybe 0.3 GB difference with
`net.minecraft.world.level.levelgen.structure.templatesystem.StructureTemplate$StructureBlockInfo`
showing up quite a bit in the second link which is from processors ran for structures which is a vanilla thing that my mod has. Those StructureTemplate$Structure

[2022-11-14 14:57] djnifos opened #243 "Ancient City End Version overwrites main end island"
Seed : 1972983197258518424
Tested V.6.3.5 and V.6.3.5
1.19.2
forge - 43.1.52

Prevents dragon spawn, removes dragon respawn structure, becomes impossible to return to overworld without external methods or death.

[2022-11-14 15:01] TelepathicGrunt commented on #243
Make a new world for now. Not every world will have ancient city at world origin. I just need to take this line
https://github.com/TelepathicGrunt/RepurposedStructures/blob/f00bf64621ddb3ab36de3930d4fd3234d098d813/src/main/resources/data/repurposed_structures/worldgen/structure_set/pyramids_end.json#L13

And copy it into the end ancient city structure set json so they only spawn farther than 1000

[2022-11-14 19:29] badooga commented on #231
Hi! Huge fan of what this mod has to offer - the nether structures in particular. I have a few suggestions for things that could be added:

Mineshafts
- Basalt mineshafts that use polished blackstone bricks instead of nether bricks. Could even generate gilded blackstone in there.
- A variant of nether mineshafts that uses red nether brick instead of regular nether brick.
- Soul sand is the hardest

[2022-11-15 00:11] badooga commented on #231
Here's a very basic proof of concept. To get this, I made the following replacements, and then added a few adjustments:

- Snow blocks to polished blackstone bricks
- Ice to iron bars
- Torches and redstone torch to soul torches
- Bed to respawn anchor, with a chest that has some glowstone and crying obsidian in it
- Oak or spruce wood to crimson
- Any form of stone brick to its blackstone brick e

[2022-11-15 00:31] badooga commented on #231
These should be self explanatory.

![image](https://user-images.githubusercontent.com/33851191/201795952-57735ff2-7d18-442e-8048-6f9fa46b67f7.png)

![image](https://user-images.githubusercontent.com/33851191/201796919-e431364b-785b-4c82-ac91-b554b8fa7abc.png)

![image](https://user-images.githubusercontent.com/33851191/201796780-7f448e89-7521-4ae4-a2fa-96d38c632744.png)

[2022-11-15 00:49] badooga commented on #231
![image](https://user-images.githubusercontent.com/33851191/201799134-0fb1c9ea-cd09-42d8-853e-0022318369c3.png)

[2022-11-15 03:50] TelepathicGrunt commented on #243
just released fixed update now

[2022-11-15 03:50] #243 closed, assigned to TelepathicGrunt

[2022-11-15 03:51] TelepathicGrunt commented on #237
Nether villages, nether outposts, and nether ruins have pillar support. Doing all RS villages will be too much work and since overworld doesn't really have "carvers " anymore, it is kinda pointless to do overworld villages.

[2022-11-15 03:51] #237 closed, assigned to TelepathicGrunt

[2022-11-19 09:57] TelepathicGrunt commented on #231
@badooga I won’t be adding quartz based structures. Quartz doesn’t generate naturally and doesn’t really mesh well with the nether’s look. So the quartz well/ruins is out

witch hits does not really make logical sense in the nether as witches are not nether mobs and piglins already have several other structures that fits them much better.

The basalt well and igloo I won’t be doing because the Bas

[2022-11-23 01:47] TelepathicGrunt commented on #241
Closing as it has been over a week with no response

[2022-11-23 01:47] #241 closed, assigned to TelepathicGrunt

[2022-11-23 01:48] TelepathicGrunt commented on #242
Closing as it has been over a week with no response

[2022-11-23 01:48] #242 closed, assigned to TelepathicGrunt

[2022-11-23 02:19] TheGag96 opened #244 "`Exception generating new chunk`"
Just got the following crash in my server on exploring in the world. I'm on the modpack Better Minecraft 1.19.2 (Fabric) with the following mods added:

* Create 0.5.0f-776
* Iron Chests Restocked 3.1.1
* Disenchanter 0.1.7
* Red Bits 1.14.0
* Luggage 1.5.1
* MobCatcher 1.2.14

Hopefully this isn't a duplicate of #225 or something else!

[code]

[2022-11-23 03:16] TelepathicGrunt commented on #244
Are you positive you did not add any other mods? I cannot reproduce the issue with the modpack and mods you stated.
![image](https://user-images.githubusercontent.com/40846040/203462652-aa695fde-f902-45ba-9b07-7fa965564779.png)

In fact, looking at the code, this crash shouldn't even be physically possible. The list that PieceLimitedJigsawManager$Assembler.processList( takes is a list of com.mojan

[2022-11-23 03:19] TelepathicGrunt commented on #244
Actually, the typing of the list gets stripped when compiled so the list of wrong type would be able to get in. But that would mean someone managed to somehow shove the wrong pair type into vanilla's StructureTemplatePool's rawTemplates field...

[2022-11-23 03:44] TelepathicGrunt commented on #244
@TheGag96 When you can, unzip this and put this jar onto your server. Start the server. Then one server is started or crashed, give me the entire latest.log file from the logs folder above the mods folder. This RS jar should print out what template pool and entry is using the wrong data type. Hopefully from the entry, we can see what mod could be at fault.
[repurposed_structures_fabric-6.1.2-whodu

[2022-11-23 04:10] TelepathicGrunt commented on #244
It looks like it might be Farmer's Delight. Did you do any change to make vanilla villages use RS's generic structure type? That's the only way I can see this crash happening. But the issue lies with Farmer's Delight to fix as they accidentally injected the wrong pair class into the list.

[2022-11-23 05:02] TheGag96 commented on #244
I made no changes to any configs outside of what Better Minecraft already did. Thanks for making the issue over there!

[2022-11-25 15:22] TelepathicGrunt commented on #244
They just released an update. Updating to 1.3.9 - 1.19.X Farmer's Delight should fix your issue

[2022-11-25 15:22] #244 closed, assigned to TelepathicGrunt

[2022-11-29 04:35] githubuser98k opened #245 "Crashed in 1.16.5"
--- Minecraft Crash Report ----
// My bad.

Time: 11/28/22 8:29 PM
Description: Rendering overlay

com.electronwill.nightconfig.core.io.WritingException: An I/O error occured
	at com.electronwill.nightconfig.core.io.ConfigWriter.write(ConfigWriter.java:90) ~[core-3.6.3.jar:?] {}
	at com.electronwill.nightconfig.core.file.WriteSyncFileConfig.save(WriteSyncFileConfig.java:61) ~[core-3.6.3.jar:?] {}

[2022-11-29 04:36] githubuser98k commented on #245
Can you fingue out why this happened

[2022-11-29 04:42] #245 closed, assigned to nobody

[2022-11-29 04:43] TelepathicGrunt commented on #245
Just fyi, I'm not supporting 1.16.5 anymore. But anyway, your issue is this:
`Caused by: java.nio.file.FileSystemException: C:\Users\Topet\curseforge\minecraft\Instances\test modpack\config\repurposed_structures-forge\ruined_portals.toml: The process cannot access the file because it is being used by another process.`

Something is accessing and holding onto config files in a way that Forge cannot